[2017-06-30 19:03] pepibumur opened #1 "Implement pbxproj writer"
Implement the `PBXProjWriter` that allows writing the project to disk.

[2017-07-01 12:56] pepibumur opened #2 "Add swiftlint to the CI steps"

[2017-07-01 12:56] pepibumur opened #3 "Document RELEASE process"

[2017-07-01 12:57] pepibumur opened #4 "Add documentation with Jazzy"

[2017-07-01 14:46] pepibumur opened #5 "Add test coverage badge"
https://github.com/codecov/example-swift

[2017-07-01 15:55] #4 closed

[2017-07-01 16:25] #3 closed

[2017-07-01 16:25] pepibumur commented on #2
done here! https://github.com/carambalabs/xcodeproj/commit/a598969207db003d95187cba015f5b95d85426d1

[2017-07-01 16:25] #2 closed

[2017-07-01 16:28] pepibumur commented on #5
Done as well!

[2017-07-01 16:28] #5 closed

[2017-07-16 11:45] pepibumur opened #9 "Remove UUID and use String instead"
## What
Remove `UUID` typealias and use `String` instead.

## Context
After using it around `xcodeproj` , I noticed that there's no big advantage on using the typealias instead of `String`. The purpose of this issue is removing the typealias from the project.

## Proposal
- Replace all usages of `UUID` with `String.

[2017-07-16 11:47] pepibumur opened #10 "Generation of unique identifiers"
## What
Find a way to generate unique identifiers for `PBXProj` objects.

## Context
All objects in the `PBXProj` are uniquely identified. The purpose of this task is coming up with a way of generating those identifiers, making sure that they are unique across the project.

## References
- [GIDGenerator](https://github.com/facebook/buck/blob/master/src/com/facebook/buck/apple/xcode/GidGenerator.ja

[2017-07-16 12:00] #1 closed

[2017-07-16 12:14] pepibumur opened #11 "Cleanup comment generation"
## Context
There's some duplication in the way comments are generated for `ProjectElement`s. Some of them implement their own private function that generates the comment, finding other elements in the `PBXProj` model. [Here](https://github.com/carambalabs/xcodeproj/blob/master/Sources/xcodeproj/XCConfigurationList.swift#L100) is an example of that kind of functions.

## What
Extract these methods,

[2017-07-18 16:38] pepibumur opened #13 "Update project to Swift 4"

[2017-07-20 06:39] #9 closed

[2017-07-20 06:39] #10 closed

[2017-07-20 07:33] yonaskolb opened #16 "Unescaped strings in pbxproj"
Content that is written to a pbxproj is invalid if certain properties contains spaces or are empty:

For example
[code]
should be escaped to
[code]

[2017-07-20 22:03] yonaskolb opened #18 "Make XcodeProj writable"
This would write the workspace, pbxproj, and shared data

[2017-07-21 08:35] #16 closed

[2017-07-21 15:06] pepibumur commented on #18
This is a great idea 👍

[2017-07-21 15:06] pepibumur commented on #13
I'll keep this one for now open until Swift 4 gets officially released.

[2017-07-21 15:07] pepibumur commented on #11
![](https://github.trello.services/images/mini-trello-icon.png) [Cleanup comment generation](https://trello.com/c/0B04P5Xe/6-cleanup-comment-generation)

[2017-07-23 07:42] yonaskolb opened #21 "Mutable properties"
Since everything is a Struct, should we make all the properties mutable?
- mutability of a struct can be controlled by using let by whatever contains it, doesn't need to be enforced my it's members
- makes it easier to change values of properties to edit projects (if allowed by above)
- removes the need for functions that return a copy (like `adding(object:)`, or `removing(object:)` functions in P

[2017-07-23 12:29] yonaskolb opened #22 "Swift PM error"
The current version of xcodeproj doesn't seem to work as a dependency in other Swift PM projects. The current package is only compatible with Xcode 9, but using the swift CI tools from Xcode 9 and referencing xcodeproj as a dependency leads to the error
[code]
I haven't been able to work out the problem. The branch https://github.com/carambalabs/xcodeproj/tree/feature/single_target tries to solve

[2017-07-23 12:36] yonaskolb commented on #22
Here's an example Package manifest
[code]

Note that pulling in xcodeproj before the package changed to Swift 4 worked correctly

[2017-07-24 21:33] yonaskolb opened #25 "Group children order"
Change PBXGroup.children from a Set to an Array so that order is preserved

[2017-07-25 11:48] #18 closed

[2017-07-25 11:48] pepibumur commented on #25
Ouch, good catch 👏

[2017-07-25 11:48] #25 closed

[2017-07-25 12:04] yonaskolb commented on #22
This still happens with Xcode 9 beta 4. No idea what the problem is. Any thoughts @pepibumur?

[2017-07-25 12:47] pepibumur commented on #22
I tried the same the other day @yonaskolb and I got a similar issue, I'll try to figure out where the issue might be.

[2017-07-25 18:21] yonaskolb commented on #22
@pepibumur is it ok with you if we roll back the package to Swift 3 anyway, until Swift 4 comes out?

[2017-07-26 14:17] #22 closed

[2017-07-28 14:27] pepibumur commented on #21
Makes sense. I ended up extending the API unnecessarily because of that. I don't thing there's any downside on making those attributes mutable.

[2017-07-30 07:57] yonaskolb opened #29 "Linux and Crypto"
It seems that CommonCrypto is the only holdout for getting this working on Linux. I know that usually anything to do with Xcode probably won't run in a Linux machine but it's still nice to have.

As far as I can see CommonCrypto is only used for getting an md5 of a string that is then used in `generateUUID()`. A hash function should work fine here as the counter is used to resolve any duplicates

[2017-07-31 08:30] artemnovichkov opened #30 "Default scripts"
I released [Carting](https://github.com/artemnovichkov/Carting) for adding and updating Carthage script. There are a few scripts using in almost every project, for example, Fabric, Carthage and SwiftLint. What do you think about adding of default scripts for your framework? And maybe I can help you with it.

[2017-07-31 11:23] yonaskolb opened #31 "Generate UUIDs"
It would also be nice to:
- generate reference UUIDs automatically
- generate them so they are deterministic

[2017-07-31 15:02] #21 closed

[2017-08-01 08:42] pepibumur opened #34 "Support CocoaPods"
## Context
Some developers might build a macOS app that leverages xcodeproj. To make the integration easy, we could support CocoaPods from xcodeproj.

## What
Support CocoaPods.

## Proposal
Support CocoaPods and include the deployment to CocoaPods in the release process

[2017-08-01 08:47] pepibumur commented on #30
Hey @artemnovichkov!
I just checked Carting but I'm not sure if I get the purpose of it. Could you give me some hints about how it'd integrate with xcodeproj?
Thanks for the idea 😛

[2017-08-01 09:07] artemnovichkov commented on #30
Carting automatically adds a script like:
![screen shot 2017-08-01 at 15 05 42](https://user-images.githubusercontent.com/5051597/28817752-04a7f2c2-76cb-11e7-9a37-98fa30d6b974.png)
Maybe it will be useful to add common used scripts to xcodeproj

[2017-08-01 09:17] pepibumur commented on #30
But xcodeproj doesn't use/support Carthage. How would that be integrated?

[2017-08-01 09:25] artemnovichkov commented on #30
It's not necessary. xcodeproj will add only `/usr/local/bin/carthage copy-frameworks` to a new script with correct paths. Just like Carting

[2017-08-01 12:17] #29 closed

[2017-08-04 16:37] yonaskolb opened #37 "Escape newlines and quotes in PBXProj"

[2017-08-05 13:03] Shakarang opened #38 "Crash when opening Framework"
## Context

Hey !

First, thanks for your work!

I'm building a project that uses your library to get all the files within a given Xcode project. It works well for getting the information on iOS/macOS projects but it crashed when I try it on Frameworks (e.g. Alamofire).

I'm on macOS 10.12.6 and I'm using the version 0.0.9.

## What

When I try to open a Framework, it crashed at this [line](https:

[2017-08-07 19:52] yonaskolb commented on #38
Hi @Shakarang
You're right, that's an issue. If you want to make a pull request, that would be great!

[2017-08-08 14:48] #38 closed

[2017-08-09 08:12] olbrichj opened #40 "Fully qualified Names of source files"
Hey,

sorry if this is the wrong place to ask, but I can't find anything anywhere else.

Is there an option to get the fully qualified name of the sourcefiles? In project.pbxproj.objects I can only find the direct filename.

Thanks

[2017-08-09 08:16] yonaskolb commented on #40
Do you mean the path to the file? If so you would have to traverse the groups it exists in, and build up the path that way.
That would be a good helper method, we should add it

[2017-08-09 08:24] olbrichj commented on #40
Thanks :)
Yes I'm referring to the path to the file. Either starting at root of the project, or even better at root of the system /Users/xx/project/.../main.swift.
I'll check if I figure out how to traverse it. Currently I'm struggling with the documentation.

[2017-08-09 10:38] olbrichj commented on #40
I've written a small example. Not sure if I got everything. Is there an option to separate by target?

let project = try! XcodeProj(path: "Demo.xcodeproj")
let pbxproj = project.pbxproj
let buildGroups = pbxproj.objects.groups

for group in buildGroups {
    if let path = group.path {
        for child in group.children {
            if let found = pbxproj.objects.index(where: { $0.reference == ch

[2017-08-09 11:08] olbrichj opened #41 "Support Carthage"
## Context
Some developers might build a macOS app that leverages xcodeproj. To make the integration easy, you could support Carthage from xcodeproj. Compared to CocoaPods Carthage provides more control for developers and less version screw ups.

## What
Support Carthage (dynamic framework necessary)

## Proposal
Create xcodeproj as a framework to support Carthage

[2017-08-09 11:13] yonaskolb commented on #40
- instead of `pbxproj.objects.index(where:` you could use `pbxproj.objects.first(where:`
- you'd have to do this recursively to handle nested groups, and build up the path along the way
- you'd have to handle the path differently base on the group `sourceTree`
- if you want to filter by target, you'd have to check if there was a build file for a certain target

What's your use case? Maybe there's

[2017-08-09 11:19] yonaskolb commented on #41
This would require Carthage adding support for Swift PM packages. There's an open PR for that https://github.com/Carthage/Carthage/pull/1945

The other option is to check in a custom xcode project. I'm not sure that carthage is compatible with the one that Swift PM generates (hence the trouble in the above PR), otherwise we'd have to do it ourselves. Maybe we can dog-food https://github.com/yonask

[2017-08-09 11:52] olbrichj commented on #40
Thanks for your input.
Currently I'm trying to write some kind of IDE for iOS/OSX development. To get a list of all source files I'd love to import the Xcode.proj. This way I would know, which files are actually used and not just part of the structure.

[2017-08-16 00:51] Saik0s commented on #22
Hi, I think that I found a solution, adding this line `products: [ .library(name: "xcodeproj", targets: ["xcodeproj"]) ],` to `Package.swift` after `name: "xcodeproj",` will fix this issue. I tested it, and now I can use xcodeproj as a dependency in my package.

[2017-08-16 08:19] pepibumur commented on #22
Thanks @Saik0s. @yonaskolb solved it by downgrading the version of the definition that we were using _(we went from 4 to 3)_. We'll try out again once Swift 4 comes out officially.

[2017-08-17 02:43] Daltron opened #43 "Creating a PBXGroup"
Is it possible to create a new `PBXGroup` and append it to the Xcode project?

I've tried this:
[code]
but `groups` is read only property.

Is there a way to do this?

[2017-08-17 13:04] filletofish commented on #43
@Daltron you need to change `pbxprj.objects`:

[2017-08-20 19:38] Daltron commented on #43
@filletofish Thanks for replying. That adds it to the objects group but it doesn't show up in the actual xcodeproj when I write it back to the disk.

Here is how I am creating my group:

[code]

Am I doing something wrong here?

[2017-08-20 19:57] Daltron opened #44 "Lack of Examples"
This project looks like it has great potential and I'm really trying to integrate it into one of my own swift command line tools, but the lack of examples/documentation makes it extremely difficult to use and understand. The README shows how to read and write, but it lacks the most important feature of all in my opinion, modifying components of the project.

Is there any plans to add more examples

[2017-08-20 20:35] filletofish commented on #43
@Daltron I have never tried it so. @pepibumur should now :)

[2017-08-21 05:37] pepibumur commented on #43
Hey @Daltron
Can you try this?

[code]
Notice that I don't create a new variable `pbxproj` from `project.pbxproj`. Since models are not classes, when you assign the value to a new variable, you are creating a copy of the value. When you add a new element, you add it to the copy, and not the value contained in the project.

[2017-08-21 11:26] yonaskolb commented on #43
Yeah, there's a rational for changing at least some of the top level structs to classes, to make things easier to update

[2017-08-21 21:19] Daltron commented on #43
@pepibumur That seems to add it to my xcodeproj when I look at the raw text, but what if I am wanting to add that group to a group that already exists in my xcodeproj?

I've tried
[code]
but since groups is a read only property, this won't work.

[2017-08-22 10:29] pepibumur commented on #43
Good point @Daltron. What do you think about building an interface method like this one?

[code]
Since objects include a reference we can find the object in the array and update it. What do you think? cc @yonaskolb

[2017-08-22 10:38] yonaskolb commented on #43
I think all the different object types should be mutable arrays on the project, instead of having them be getters on the `objects` array. `objects` could still be a way to initialise the project.

This would also speed up the writing of a project a lot as those object type getters (for example `object.fileReferences`) get looked up a lot

[2017-08-22 10:44] pepibumur commented on #43
Good point, thinking about it, I think makes sense since we need to filter them later on when we export the project. Is there any advantage in having them as a single array?

[2017-08-22 11:29] yonaskolb commented on #43
The only advantage I can see is that the project properties used to be immutable so the only way to edit these was to use the initialiser which would have been crazy with a dozen different array. But now that things are mutable, they can be changed after the fact. The init param could be left as an optional though.

The object property could also still be used as a getter. I know its used for chec

[2017-08-22 11:39] yonaskolb commented on #43
Having said that, it makes it easier to add objects but doesn't really solve the problem of editing them. The fact is that Structs in an array are hard to edit as you have to pull them out, edit them and then update the array.
Your update function above would work (I'm guessing it would check against the type and reference to know which struct to update), but is still harder to use.

This would al

[2017-08-23 12:35] pepibumur commented on #43
The more I think about it the more I think it'd make sense to move everything into classes. Thinking about the project as a tree of immutable elements I think it'd be much easier if those elements were just classes and you could modify the tree at any point that you want. We'd simplify the APIs a lot.

[2017-08-23 12:35] pepibumur commented on #43
What do you think @yonaskolb ?

[2017-08-23 12:37] yonaskolb commented on #43
Agreed 👍

[2017-08-23 12:51] pepibumur opened #45 "From structs to classes"
## Context
All the models in xcodeproj are defined as structs. Although immutability has some advantages like thread safety it makes it forces us to come up with it forces us to extend the interfaces with methods to provide mutated copies of the models with the changes.

You can read more from this issue https://github.com/carambalabs/xcodeproj/issues/43#issuecomment-324315852 that @Daltron report

[2017-08-23 12:52] pepibumur commented on #43
I've created an issue to tackle the migration to classes. You can follow it up here https://github.com/carambalabs/xcodeproj/issues/45

[2017-08-23 12:52] #43 closed

[2017-08-23 13:14] Daltron commented on #45
Totally agree going down this path! 👍 👍 👍

[2017-08-24 03:21] wentingliu opened #46 "Error operation, please ignore it."
Sorry for disturbing.

[2017-08-24 03:21] wentingliu opened #47 "//vgbnkitfgyuioiuytyuiop[ptyuiouytryui-08ujm77u7ujmiii8i9i9ik.;po,,lik,.\\///;"/;,./;.l,k.≥"
## Context

## What

## Proposal

[2017-08-24 03:27] #47 closed

[2017-08-24 03:36] #46 closed

[2017-08-24 14:48] yonaskolb commented on #45
Another benefit of this is that some PBXObjects could inherit from some abstract base classes and remove a whole bunch of duplicated code

[2017-08-24 17:20] #37 closed

[2017-08-25 06:12] #45 closed

[2017-08-25 10:03] yonaskolb commented on #43
@Daltron, now with release 0.1.0 you can add your group as follows:

[code]

[2017-08-25 10:33] yonaskolb commented on #45
Using this now in XcodeGen, it seems it might be better to have `BuildSettings` stay a struct. Now that I look at it though, could `BuildSettings` just be an alias for `[String: Any]`?

[2017-08-25 10:53] yonaskolb opened #53 "Build phases no longer generate comments where their files are from"

[2017-08-25 12:44] #53 closed

[2017-08-25 12:45] pepibumur commented on #45
Yes it's much better. `BuildSettings` doesn't add much value to the dictionary.

[2017-08-25 12:51] pepibumur commented on #34
This is already done

[2017-08-25 12:51] #34 closed

[2017-08-25 12:54] pepibumur commented on #41
Would we build a circular dependency if we use XcodeGen? :trollface: @yonaskolb.

[2017-08-25 12:55] pepibumur commented on #41
I don't think we can reuse the project that gets generated by SPM. I think we should automate the process of generating that project, and XcodeGen is the best candidate to do that.

[2017-08-25 12:56] pepibumur commented on #41
We'll work on this @olbrichj, great idea 😛

[2017-08-25 12:57] pepibumur commented on #44
That's a very good point @Daltron. I'll work on adding more documentation to the project.

[2017-08-25 13:09] Daltron commented on #43
@yonaskolb Thanks for the prompt response! Looking forward to trying this out!

[2017-08-25 17:07] pepibumur opened #56 ".xcschemes get deleted when the project gets saved"
## Context
I read a project and saved it back after doing some changes.

## What
All the `.xcscheme` files got removed:

![image](https://user-images.githubusercontent.com/663605/29724373-8aa54798-89c8-11e7-9f9d-3f679053f5ce.png)

## Proposal
Fix it! 😁

[2017-08-26 22:02] Daltron opened #57 "Adding files to a PBXGroup"
#43 Greatly clarified how to create a new group and add it to an already existing group. However, I am now very uncertain on how to add actual source code files (that are already created) to a group. Is `PBXFileElement` the object I should be using or is there something else? Any help would be appreciated!

Thanks! 👍

[2017-08-27 08:58] yonaskolb commented on #57
Hi @Daltron
You would need a to create a `PBXFileElement` for each file, a `PBXBuildFile` that references that file for each target it should be added to, and then add those `PBXBuildFile` references to the `PBXSourcesBuildPhase` for each target.

That's really getting into the weeds there. Usually tools would be built on top of xcodeproj to achieve things like the above. Tools like https://github

[2017-08-27 16:33] Daltron commented on #57
@yonaskolb Thanks for the detailed response. But yes, that is pretty much exactly my use case. I am wanting to add a group of files to a target. I'll tinker around and see if I can it to do what I want to do. Thanks!

[2017-08-27 16:33] #57 closed

[2017-08-30 05:56] pepibumur commented on #30
Hey @artemnovichkov, I'm still struggling to understand how Carting would integrate with xcodeproj. Carting is a command line tool that developers use to not have to manually add the Carthage script step. I think I'm missing something here.

[2017-08-30 05:59] pepibumur opened #60 "Some children are missing some comments"
## Context
Some children when the project gets generated are missing some comments.

## What
![image](https://user-images.githubusercontent.com/663605/29723562-58756e9a-89c5-11e7-950a-21f2e805b857.png)
![image](https://user-images.githubusercontent.com/663605/29723569-60f23ee0-89c5-11e7-9c76-938f12242bc9.png)

## Proposal
Fix it!

[2017-08-30 05:59] pepibumur opened #61 "Build phases names are overridden"
## Context
Build phases names are overridden when the project gets saved.

## What
![image](https://user-images.githubusercontent.com/663605/29723595-858e17c4-89c5-11e7-8612-5f98526cc2cb.png)
![image](https://user-images.githubusercontent.com/663605/29723601-8e551484-89c5-11e7-890e-4f19edcb8579.png)

## Proposal
Fix it!

[2017-08-30 06:00] pepibumur opened #62 "Missing comment in PBXNativeTarget.productReference property"
## Context
Missing comment in `PBXNativeTarget.productReference` property.

## What
![image](https://user-images.githubusercontent.com/663605/29723661-bede5e12-89c5-11e7-810b-6c23a1acdab8.png)

## Proposal
Fix it!

[2017-08-30 06:01] pepibumur opened #63 "Wrong comment in the PBXProject.buildConfigurationList property"
## Context
Wrong comment in the `PBXProject.buildConfigurationList` property.

## What
![image](https://user-images.githubusercontent.com/663605/29723708-e9644ffc-89c5-11e7-9e55-42c30c630c54.png)

## Proposal
Fix it!

[2017-08-30 06:02] pepibumur opened #64 "Wrong comments in the PBXResourcesBuildPhase.files property"
## Context
Wrong comments in the `PBXResourcesBuildPhase.files` property.

## What
![image](https://user-images.githubusercontent.com/663605/29723736-0a256a46-89c6-11e7-9ceb-8433b5851938.png)
![image](https://user-images.githubusercontent.com/663605/29723742-10374904-89c6-11e7-914e-95908639a966.png)

## Proposal
Fix it!

[2017-08-30 06:03] pepibumur opened #65 "Input and output paths should be an array"
## Context
Input and output paths should be an array

## What
![image](https://user-images.githubusercontent.com/663605/29723785-4352a22a-89c6-11e7-9e1d-35cfa5a9cee8.png)

## Proposal
Fix it!

[2017-08-30 06:03] pepibumur opened #66 "Missing property in the shell script phase"
## Context
Missing property in the shell script phase

## What
![image](https://user-images.githubusercontent.com/663605/29723814-5a767d50-89c6-11e7-9c13-0c29cbca9fb3.png)

## Proposal
Fix it!

[2017-08-30 06:04] pepibumur opened #67 "Wrong comment in the shell script build phase"
## Context
Wrong comment in the shell script build phase

## What
![image](https://user-images.githubusercontent.com/663605/29723826-643cd424-89c6-11e7-9f67-2780261dfc01.png)

## Proposal
Fix it!

[2017-08-30 06:10] pepibumur opened #68 "Wrong comment in the PBXSourcesBuildPhase.files property"
## Context
Wrong comment in the `PBXSourcesBuildPhase.files` property

## What
![image](https://user-images.githubusercontent.com/663605/29723864-8648d6da-89c6-11e7-9177-305e4e2677e2.png)

## Proposal
Fix it!

[2017-08-30 06:11] pepibumur opened #69 "Missing object type XCVersionGroup"
## Context
Missing object type `XCVersionGroup`

## What
![image](https://user-images.githubusercontent.com/663605/29723924-c4f7fd34-89c6-11e7-8c69-47f1e2779d23.png)
![image](https://user-images.githubusercontent.com/663605/29723930-cb70225e-89c6-11e7-9d25-09bc3fca20c8.png)

## Proposal
Fix it!

[2017-08-30 06:12] pepibumur opened #70 "XCConfigurationList.buildConfigurations should be an array."
## Context
`XCConfigurationList.buildConfigurations` should be an array.

## Proposal
Fix it!

[2017-08-30 06:12] pepibumur opened #71 "Some properties don't seem to be properly escaped"
## Context
Some properties don't seem to be properly escaped
## What
![image](https://user-images.githubusercontent.com/663605/29723986-124c57ba-89c7-11e7-9bfa-9311dea3d6f2.png)
![image](https://user-images.githubusercontent.com/663605/29724009-21421b06-89c7-11e7-8383-38fdf4962e5f.png)

## Proposal
Fix it!

[2017-08-30 06:21] pepibumur commented on #70
This is already done!

[2017-08-30 06:21] #70 closed

[2017-08-30 08:08] pepibumur opened #73 "Unit testing strategy for writing"
## Context
We're not currently unit testing the writes of different models. The only test that we have is an integration test that ensures that the project can be read and written to disk. That test doesn't check individually if all the objects that have been written have the right format. This leads to inconsistencies in the read and the written format of the project objects.

By adding unit test

[2017-08-30 08:09] pepibumur commented on #73
What do you think @yonaskolb ? Do you have any other idea about how we could approach this?

[2017-08-30 14:18] yonaskolb opened #74 "PBXCopyFilesBuildPhase is missing name"

[2017-09-07 06:25] pepibumur commented on #69
This has already been added here https://github.com/swift-xcode/xcodeproj/commit/98e51d3eb6251bd0a873b3bea851f5df1613f33e

[2017-09-07 06:25] #69 closed

[2017-09-07 06:32] pepibumur commented on #68
Fixed here https://github.com/swift-xcode/xcodeproj/commit/9e0b027914f93dea50e99b225a723bafecba7d50

[2017-09-07 06:32] #68 closed

[2017-09-07 06:34] pepibumur commented on #67
fixed here https://github.com/swift-xcode/xcodeproj/commit/d0264fc9ffaf5ec2fdd100eaed34f0395a244f75

[2017-09-07 06:34] #67 closed

[2017-09-07 06:38] pepibumur commented on #65
Fixed here: https://github.com/swift-xcode/xcodeproj/commit/bf7722e64c936b4090eb14aa8e5cf4fa0965eb3e

[2017-09-07 06:38] #65 closed

[2017-09-07 06:59] pepibumur commented on #74
I fixed it here @yonaskolb https://github.com/swift-xcode/xcodeproj/commit/86412b6cb7b455e253021fa87150cd2f568937db

[2017-09-07 06:59] #74 closed

[2017-09-07 07:42] pepibumur commented on #66
Fixed here https://github.com/swift-xcode/xcodeproj/commit/af6ae0fe0b87fac41d5631aeac3a4e6719757997

[2017-09-07 07:42] #66 closed

[2017-09-07 08:05] pepibumur opened #75 "Add contribution guidelines"
Add a document that drives people through the basics of the project:
- What tools are necessary.
- How to setup the project.
- Important things to keep in mind.
- How to find answers to their questions.

[2017-09-07 08:07] pepibumur commented on #30
I'll close this for now until there's more input to proceed with it.

[2017-09-07 08:07] #30 closed

[2017-09-07 08:07] pepibumur commented on #41
We'll work on this for the next version, 0.1.3

[2017-09-07 09:08] artemnovichkov commented on #30
Nevermind, it were just my thoughts.

[2017-09-07 11:24] pepibumur commented on #30
I'd love to understand how we could bring Carting into the project.

[2017-09-07 11:29] yonaskolb commented on #30
It sounds like it would be more something that goes into a tool like https://github.com/swift-xcode/xcode, which is what carting is.

In my opinion xcodeproj should be a repo just for reading, modifying and writing xcode project files. Any other functionality would go into tools that use xcodeproj

[2017-09-07 11:52] pepibumur commented on #30
That was my understanding. As @yonaskolb pointed out, xcodeproj just provides the models to interact with your Xcode projects. Carting could fit with tools that do some automation in the Carthage area.

[2017-09-07 12:46] artemnovichkov commented on #30
I’m not talking about Carting or Carthage, it was just an example. My main idea is that you might implement default scripts in xcodeproj to reduce repetitive actions. For instance, I add a script that increment build number in my every project. And I don’t want to write this script again and again, I want to call `xcodeproj.addAwesomeScript()` and vuala - the script was added. That’s all, and sorr

[2017-09-07 14:10] pepibumur commented on #30
Yeah that's the idea @artemnovichkov. We actually started working on that sort of automation in this project https://github.com/swift-xcode/xcode. You are more than welcome to contribute.

[2017-09-07 15:42] artemnovichkov commented on #30
Looks interesting, I'm ready to start. Where is a start point? :)

[2017-09-07 17:35] olbrichj commented on #41
sounds great 👍

[2017-09-08 05:46] pepibumur commented on #30
Can you email me your email and I'll invite you to Slack?

[2017-09-08 05:51] artemnovichkov commented on #30
Sure! novichkoff93@gmail.com

[2017-09-18 06:55] artemnovichkov opened #78 "PBXReferenceProxy Support"
## Context
I tried to parse my project that contains multiple projects for downloadable IAPs

## What
Simple initialization:
[code]
`PBXReferenceProxy` section:
[code]
Related to the error: `The element PBXReferenceProxy is not supported`
## Proposal
I know that it's a rare case, but anyway 🤷‍♂️

[2017-09-18 07:05] artemnovichkov opened #79 "Mapping error in PBXFileReference section"
## Context
I tried to parse one of my projects.

## What
Simple initialization:
[code]
Related to the error: `[UnboxError] An error occurred while unboxing path "fileRef": The key "fileRef" is missing.`
As I understand, the problem is here:
[code]

## Proposal
Update mapping of `PBXFileReference` project to handle this case.

[2017-09-18 07:49] artemnovichkov opened #80 "Error in empty project"
## Context
I tried to parse empty project (Xcode 8 or 9 generated).

## What
Simple initialization:
[code]
Related to the error: `[UnboxError] An error occurred while unboxing path "defaultConfigurationName": The key "defaultConfigurationName" is missing.
`

[2017-09-18 07:49] pepibumur commented on #79
I don't think it's because of the `PBXFileReference` model. It must be a model that has a `fileRef` property that is expected to be non-nil and should be nil. Would you mind checking which one is?

[2017-09-18 07:50] pepibumur commented on #78
@artemnovichkov, could you attach in this issue the element `PBXReferenceProxy`. I'd like to see the structure of it to add support for it. Thanks 😛

[2017-09-18 07:51] #75 closed

[2017-09-18 07:54] pepibumur commented on #80
We can fix it by just updating `XCConfigurationList` to make `defaultConfigurationName` optional. Would you like to work on this issue @artemnovichkov?

[2017-09-18 08:01] artemnovichkov commented on #78
I've updated the description with needed section

[2017-09-18 08:07] artemnovichkov commented on #80
Sure, it will be simple task and good point to start.

[2017-09-18 08:20] artemnovichkov commented on #79
I watched an exception in `PBXFileReference` init with a dictionary:
[code]

[2017-09-18 10:28] pepibumur commented on #78
Cool, thanks @artemnovichkov

[2017-09-18 17:06] artemnovichkov commented on #80
Really strange, but I haven't this error on another Mac... Will check it tomorrow after Xcode 9 release 🎉

[2017-09-19 08:43] pepibumur commented on #80
Cool. Make sure that the project that you are using is the same. Opening the project with different versions of Xcode might introduce some changes in the structure of the project.

[2017-09-19 08:49] pepibumur opened #82 "Swift 4 migration"
## Context
Today the new version of Xcode is officially released together with Swift 4. We should migrate xcodeproj to the new version of Swift, including the `Package.swift` syntax.

## What
Migrate xcodeproj to Swift 4

## Proposal
- Migrate syntax.
- Migrate dependencies to their Swift 4 versions.

[2017-09-19 08:51] pepibumur opened #83 "Remove Unbox dependency"
## Context
After the project [has been migrated to Swift 4](https://github.com/xcodeswift/xcproj/pull/84) we can remove the Unbox dependency and use the language encoding/decoding feature.

## What
Use the language encoding/decoding feature instead of Unbox.

## Proposal
- Update all the models that support decoding.

[2017-09-19 08:52] pepibumur commented on #82
There was already a PR open trying to do the migration https://github.com/swift-xcode/xcodeproj/pull/42. We can maybe move on from there.

[2017-09-20 08:07] artemnovichkov commented on #80
I've checked it with Xcode 9 project, everything works without errors 🤷‍♂️.

[2017-09-20 08:11] artemnovichkov commented on #82
I see no warnings in xcodeproj. I can update Package manifest

[2017-09-20 10:03] pepibumur commented on #80
I'll check it again from my side and see if there's something missing :/

[2017-09-23 10:28] pepibumur commented on #80
I'll close it for now @artemnovichkov. If you come across the same issue, feel free to re-open it.

[2017-09-23 10:28] #80 closed

[2017-09-23 10:54] pepibumur commented on #44
@Daltron I've updated the README with a [*How to use*](https://github.com/yonaskolb/XcodeGen/issues/51#issuecomment-331178779) section. Do you think it helps or would you add anything else?

[2017-09-25 07:03] artemnovichkov commented on #78
You missed parsing of `PBXReferenceProxy` objects in `PBXObject.parse(reference:dictionary:)`. Please, add the following code:
[code]
Why I don't have a permission to push in this branch?..

[2017-09-25 13:31] Daltron commented on #44
@pepibumur A diagram is nice but it would be even better if the README showed specific examples on how to modify the most common operations such as creating a group, creating a file, adding a file to a group, etc...

[2017-09-25 14:16] #78 closed

[2017-09-25 14:16] #82 closed

[2017-09-25 17:29] yonaskolb opened #87 "Make PBXVariantGroup.children an array"
I think this is the last holdout of properties that should be arrays for ordering

[2017-09-29 14:33] #87 closed

[2017-09-29 17:49] BrianBatchelder opened #89 "Add support for using xcproj on iOS projects during unit testing"
## Context
I work on an open-source iOS SDK. We consider our project file as part of our assets, and do some simple validation tests as part of our unit test suite. We'd like to be able to use xcproj for that validation, but the current limitation to macOS-only prevents CocoaPods from installing your pod.

What version of Xcode/Swift are you using? - 9/3.1
What operating system and processor archi

[2017-09-29 18:28] mukeshthawani opened #90 "Documentation link is not working"
## What

Documentation link gives 404 error.

![screen shot 2017-09-29 at 11 55 16 pm](https://user-images.githubusercontent.com/5956714/31030154-f085be70-a571-11e7-8ab7-58988cda15fb.png)

[2017-09-30 22:40] pepibumur commented on #89
@BrianBatchelder thanks for the proposal. I've opened a PR to support iOS in the podspec. Could you have a look and give feedback? Once merged you should be able to use it with your CocoaPods setup by specifying the commit on this repository. Next Saturday we'll release a new version and you'll be able to use the version instead.

[2017-10-01 20:58] #89 closed

[2017-10-01 21:51] #13 closed

[2017-10-01 21:52] pepibumur commented on #11
This was already done 😛. The helper methods that return strings used for the comments are defined in this extension https://github.com/xcodeswift/xcproj/blob/master/Sources/xcproj/PBXProj+Helpers.swift

[2017-10-01 21:52] #11 closed

[2017-10-01 21:53] pepibumur commented on #90
Hey @mukeshthawani, where did you get the documentation link from?

[2017-10-02 06:47] pepibumur commented on #79
@artemnovichkov I've checked which objects contain a `fileRef` property, and only the `PBXBuildFile` has. As far as I know, the only way to get into that situation where one of your build files doesn't have a reference is by removing the property while solving merge conflicts. Could you check if that's the case? You can open of those projects, go to build phases, and see if any of the files appear

[2017-10-02 06:51] pepibumur opened #98 "Improve parsing errors"
## Context 🕵️‍♀️
Right now, if the parsing fails for some reason, it throws an error saying that a property that was expected, wasn't there or it was in the wrong format. It'd be great to throw something more explicit like:

## What 🌱
Improve the error message.

## Proposal 🎉

[2017-10-02 06:51] pepibumur commented on #98
What do you think @xcodeswift/contributors

[2017-10-02 06:52] #63 closed

[2017-10-02 06:52] artemnovichkov commented on #79
@pepibumur Makes sense. I didn't think about it. My thought about this issue - if you can open a project in Xcode, you can open it in xcproj. But of course it's need to show this error to users. Anyway, I'll check the project 👍.

[2017-10-02 06:54] pepibumur commented on #61
This is already done [here](https://github.com/xcodeswift/xcproj/blob/master/Sources/xcproj/PBXTarget.swift#L83)

[2017-10-02 06:54] #61 closed

[2017-10-02 06:58] pepibumur commented on #64
This is already handled [here](https://github.com/xcodeswift/xcproj/blob/master/Sources/xcproj/PBXProj+Helpers.swift#L28). It makes sure that we take the last component from the path, or the name if the last component is nil.

[2017-10-02 06:58] #64 closed

[2017-10-02 06:59] pepibumur commented on #62
It's already handled [here](https://github.com/xcodeswift/xcproj/blob/master/Sources/xcproj/PBXTarget.swift#L96)

[2017-10-02 06:59] #62 closed

[2017-10-02 07:12] toshi0383 commented on #98
Error message should always be user-friendly.👌
But priority is low for now I guess. There is still a lot of formatting problems and potential SPM compatibility issue right now.

[2017-10-02 07:17] toshi0383 commented on #41
I think generating Carthage compatible xcodeproj is too much for this core library.
Shouldn't this feature be outside of `xcproj`?
I think `xcproj` should focus on providing API to access xcodeproj related files.

[2017-10-02 07:37] pepibumur opened #100 "Define a custom Swift 4 Encoder to write the models"
## Context 🕵️‍♀️
To serialize the project back to disk, we defined a class `PBXProjWriter`, that does a custom property list writing, including comments for some elements *(this is the format that Xcode uses for the projects)*.

## What 🌱
Figure out if it's possible to use the protocol Encoder, and define a custom encoder that contains that logic. That'd get the writer closer to the language synta

[2017-10-02 07:39] pepibumur commented on #41
I guess it was proposed because we also support CocoaPods. I was thinking about two options:
- Either not gitignoring the SPM project and see if Carthage can use that to generate the framework.
- Use XcodeGen to automate the creation of the Carthage project and generate it as part of the release process.

What do you think @toshi0383 ?

[2017-10-02 07:40] pepibumur commented on #98
Definitively. I've updated the priority to low and removed it from the next milestone so that we can focus on all the formatting issues.

[2017-10-02 07:40] pepibumur commented on #98
What do you mean by *"potential SPM compatibility issue"* btw?

[2017-10-02 07:52] toshi0383 commented on #41
Oh I understood.
I think second option is better and safer. SPM generated one can lose Carthage compatibility in future, even if it was compatible now.

[2017-10-02 08:01] toshi0383 commented on #41
I confirmed in version `Swift 4.0.0-dev (swiftpm-13126)` and it is not Carthage compatible.
It's even missing Info.plist.
[code]

[2017-10-02 08:02] toshi0383 commented on #41
Oops, sorry it was executable type, not library.

[2017-10-02 08:10] toshi0383 commented on #98
I've seen this PR. https://github.com/xcodeswift/xcproj/pull/97
And I thought we might have this kind of compatibility issues on other type (`empty|library|executable|system-module` ) of SPM generated pbxproj.

[2017-10-02 08:15] pepibumur opened #101 "Handling misformat"
## Context 🕵️‍♀️
Some projects might have an invalid format. When it happens, it's usually because a property is missing. That's something that can easily happen if you solve git conflicts on the project file, or whoever generates the project *(like the SPM)*, does it in a partial state, letting Xcode fulfill the missing attributes.

xcproj doesn't handle those cases and fails early, returning a p

[2017-10-02 08:15] pepibumur commented on #101
Ideas @xcodeswift/contributors ?

[2017-10-02 08:17] pepibumur commented on #41
Cool! Would you like to tackle this @toshi0383 ?

[2017-10-02 08:27] toshi0383 commented on #41
Hmm maybe not right now. wish I had time to do this.

[2017-10-02 09:08] artemnovichkov commented on #101
My suggestion in issue #79 - if you can't open a project in Xcode, you can't open it in xcproj.

[2017-10-02 09:13] esttorhe commented on #101
I agree that if an expected property is missing we shouldn't definitely fail; perhaps clean up the error reporting and tell the user specifically what failed so it's easier for them to understand that is not the tools fault.

Eventually even hooking it up to what `CocoaPods` does and spit out a `Github`'s issues search on this repo to highlight possible solutions for the issue (e.g. check in `Xcod

[2017-10-02 10:56] yonaskolb commented on #98
I wonder if SPM generated projects are worth creating fixes for at this time. SPM is still a work in progress, and the projects it generates have never been quite to spec. I don't doubt that will improve in the future though.
Are there use cases for reading SPM generated projects anyway?

[2017-10-02 11:17] yonaskolb commented on #101
Yeah, I think the best approach is to improve the error messages first and then see how it plays out. Preemptively making many things optional is a decision we may regret later, as you can’t really come back from that.
It may even be worth suggestion running something like xclint over a project first, that highlights these sorts of issues and offers to fix them

[2017-10-02 12:34] toshi0383 commented on #98
XcodeGen's purpose is to generate, so there are no use case for reading.
But for example I have a tool which modifies xcodeproj, so I have to support SPM too.
https://github.com/toshi0383/xcconfig-extractor

[2017-10-02 14:32] mukeshthawani commented on #90
It was in the Readme. Looks like now it's fixed.

Thanks :)

[2017-10-02 14:32] #90 closed

[2017-10-04 03:47] artemnovichkov opened #104 "Can't build for testing"
## Context 🕵️‍♀️
Try to run tests in master with Xcode.

## What 🌱
Everything works fine in Terminal, but I have an errors in Xcode:
`Module 'xcproj' was not compiled for testing`

## Proposal 🎉
Fix it!

[2017-10-04 04:52] toshi0383 commented on #104
@artemnovichkov
Try creating a scheme for `xcprojTests`.
Test runs correctly on my machine.

[2017-10-04 06:22] pepibumur commented on #104
@artemnovichkov, try doing the following things:
- Delete the projects `rm -rf xcodeproj.xcodeproj xcproj.xcodeproj`.
- Generate the project again `swift package generate-xcodeproj`.
- Open the project and try to run the tests with Cmd + U.

Let me know if that works 😛

[2017-10-04 07:04] artemnovichkov commented on #104
Both suggestions didn't work

[2017-10-04 08:41] pepibumur commented on #104
Are you trying to import with `@testable` @artemnovichkov ?

[2017-10-04 08:58] artemnovichkov commented on #104
The imports are already marked as testable.

[2017-10-04 09:03] pepibumur commented on #104
Mmm weird, I'm running out of ideas. Did you try cloning the repo again? Are you using the last version of Xcode?

[2017-10-04 09:17] artemnovichkov commented on #104
Xcode 9.0 (9A235), deleting and cloning again didn't work. Do you have the same errors?..

[2017-10-04 10:21] pepibumur commented on #104
No, it's working and also on CI. Are you using the version of Swift that comes with Xcode?

[2017-10-04 11:37] artemnovichkov commented on #104
Hm, works w/o errors on another MacBook...

[2017-10-04 13:09] pepibumur commented on #104
Did you try reinstalling Xcode @artemnovichkov ?

[2017-10-04 13:27] artemnovichkov commented on #104
Of course, no :)

[2017-10-06 21:34] esttorhe commented on #83
Maybe we should update the description now that #84 was merged.
`Context` mentions #82 which ended up not being the «correct» one for this issue

[2017-10-07 10:16] pepibumur commented on #83
Updated @esttorhe 😛

[2017-10-07 12:53] #83 closed

[2017-10-07 12:54] pepibumur commented on #104
Did you manage to solve this @artemnovichkov?

[2017-10-07 12:55] pepibumur commented on #79
This issue will be fixed once we come up with a strategy to handle misformatted projects, https://github.com/xcodeswift/xcproj/issues/101. Closing it

[2017-10-07 12:55] #79 closed

[2017-10-08 08:20] artemnovichkov commented on #104
Actually, no. I didn't have a time.

[2017-10-08 19:08] pepibumur commented on #104
No problem! It's not very high priority, just wanted to know if there was an update. Take your time 👍

[2017-10-11 15:57] enmiller opened #108 "PBXProject decoding issue"
## Context 🕵️‍♀️

## What 🌱

[code]

## Proposal 🎉

[code]

[2017-10-11 16:02] enmiller commented on #108
Here is a snippet of the console output when running the XcodeGen unit tests after updating to xcproj 0.4.0 (minor formatting applied)
[code]

[2017-10-11 19:29] yonaskolb commented on #108
@pepibumur, it seems some optional properties in #99 weren't made to use `decodeIfPresent`, such as this `projectRoot`

[2017-10-11 19:36] pepibumur commented on #108
Good catch, it should be fixed [here](https://github.com/xcodeswift/xcproj/commit/712098a1a8bcbfdec03913d080bf76224bbe7e22) @enmiller. We'll release a new version on Saturday including the fix. Thanks for the report!

[2017-10-11 19:36] #108 closed

[2017-10-12 09:39] pepibumur opened #111 "Add contract testing"
## Context 🕵️‍♀️
In a recent change that we introduced in xcproj we broke the integration that other libraries like XcodeGen had with xcproj. It's important not to break those integrations in minor/patch updates of xcproj.

## What 🌱
Add some tests that validate that the integration with external libraries doesn't break with the new changes.

## Proposal 🎉
- During the release process, test other

[2017-10-12 21:27] esttorhe opened #112 "Schemes contain extension in name after writing"
## Context 🕵️‍♀️
When we read the project and furthermore the schemes we store the `name` property as `path. path.lastComponent` which includes the extension.

e.g. *Scheme*: `iOS.xcscheme` -> _name_ => `iOS.xcscheme`

## What 🌱
The problem with this is that when we write the scheme to disk we grab the `name` and then we append `.xcscheme` as the extension which leads to having `.xscheme` as part

[2017-10-13 06:34] pepibumur opened #114 "Fully automate the release process"
## Context 🕵️‍♀️
Although some of the release steps are automated, there are still some that have to be done manually. There are Ruby tools out there that we could leverage to automate all the steps.

- [GitHub Changelog](https://github.com/skywinder/github-changelog-generator): Generates the Changelog getting the list of changes since the last tag.
- [GitHub Release](https://github.com/mpalmer/gi

[2017-10-13 06:34] pepibumur commented on #114
Related to what we were discussing yesterday @esttorhe

[2017-10-13 06:53] #112 closed

[2017-10-13 09:57] esttorhe commented on #114
Yes!!
We'll have to make a `Heroku` app to get a free dyno and schedule releases on a certain day though :p

I can't think of an easy way to release on schedule using `Github` though

¯\\\_(ツ)\_/¯

[2017-10-13 10:36] esttorhe opened #115 "Auto generation of schemes"
## Context 🕵️‍♀️
The scheme window in `Xcode` provides a checkbox to autogenerate schemes.
This are stored `project.xcodeproj/xcuserdata/<username>/schemes` and since they are specific to each user not usually carried over on repos, etc.

<img width="316" alt="screen shot 2017-10-13 at 12 28 45" src="https://user-images.githubusercontent.com/2642850/31542392-16ffedf0-b012-11e7-9c75-348d19410ced.pn

[2017-10-13 10:39] pepibumur commented on #115
Good point. I think we should support the first one. Regarding the second one, we should at least support writing the file that contains that configuration. The creation of the scheme and its data is responsibility of the tool that generates the scheme. What do you think?

[2017-10-13 10:42] esttorhe commented on #115
I agree; ultimately the file that contains the configuration is a `plist` with a single key:value pair.

Haven't found any other possible setting that could end up in that file but supporting it with a single value for now sounds 👌

[2017-10-13 12:06] pepibumur commented on #115
:shipit:

[2017-10-13 15:04] pepibumur commented on #104
I'll close it @artemnovichkov since the configuration seems to be ok and it's working on CI as well.

[2017-10-13 15:04] #104 closed

[2017-10-13 16:13] #101 closed

[2017-10-16 11:08] josefdolezal opened #119 "Swift Package Manager Support"
## Context 🕵️‍♀️
Swift PM is a powerful dependency manager for macOS console applications. Projects which use Swift PM usually don't have `.xcodeproj` versioned in git repositories because it can be easily generated using `swift package generate-xcodeproj`. This command always creates a new project with structure based on a manifest file.

Since the project is not versioned, all custom project set

[2017-10-16 11:45] pepibumur commented on #119
Hi @josefdolezal. Thanks for opening the issue. I think we should support opening SPM-generated projects in any way. I'll check your two proposals and maybe try to come up with another one so that we can discuss which one is more feasible.

[2017-10-16 12:03] josefdolezal commented on #119
Thanks for s quick reply! Let me know if you come up with another solution, I would love to help fixing this one!

[2017-10-18 08:25] artemnovichkov opened #120 "Add new file to Xcode project"
## Context 🕵️‍♀️
I have a clear task: create a new image and add it to Xcode project to root group
## What 🌱
I did it with this code:
[code]
But it looks weird. What reference I should use? What does mean `sourceTree` and `lastKnownFileType`? It's too complicate, I want to use something simple like:
[code]

## Proposal 🎉
What do you think? Should xcproj have APIs for it?

[2017-10-18 08:31] artemnovichkov opened #121 "Project path as String"
## Context 🕵️‍♀️
I have a project path as `String`, but `XcodeProj` object has no initializers for that.

## What 🌱
This code:
[code]
Related to compilation error:
`Cannot convert value of type 'String' to expected argument type 'Path'`

## Proposal 🎉
Add `init(path: String)` method.

[2017-10-18 22:32] toshi0383 commented on #120
I think it should be `group.addFiles`.
Checkout my library for example.
https://github.com/toshi0383/Pbxproj#add-a-existing-folder-recursively-under-maingroup

[2017-10-19 15:54] pepibumur commented on #120
Hey @artemnovichkov, I see your use case but I've got a few concerns regarding exposing such API:
- Which group do you add the file to?
- Which target? What if you want to add it to multiple targets?

I think if we start supporting such cases we'll most likely end up with a complex API that does a lot of things. I'm thinking if rather than going with such API we can introduce a certain level of ab

[2017-10-19 16:05] esttorhe commented on #120
I agree with @pepibumur and with @toshi0383 on this one.
First I think that over simplifying the `API` could be a bad idea because we'll either end up with a confusing `API` or a monstruos one that handles a lot of different things instead of one simple thing.

That being said the idea of `group.addFiles` makes sense to me; although it is important to note that this would still require the consume

[2017-10-19 16:29] artemnovichkov commented on #120
I agree with you, guys. As I understand, for this case I should write a wrapper in my project to incapsulate this logic, because it's not a deal of xcproj, right?

[2017-10-19 16:31] pepibumur commented on #119
Here you go @josefdolezal https://github.com/xcodeswift/xcproj/pull/124

[2017-10-19 16:36] yonaskolb commented on #120
I also agree that simply adding extension to the project and the pbxobjects might be detrimental, as things will get complicated fast. But yes, there should definitely be a higher level API that handles this stuff. It can be in a seperate repo, but what about just a seperate module within this one. Some sort of "ProjectBuilder" (name?)

[2017-10-19 18:14] #121 closed

[2017-10-20 01:09] toshi0383 commented on #120
How about XCProjFiles?
I think we should stick with XCProj prefix, just to be safe.

[2017-10-21 07:15] #119 closed

[2017-10-22 23:00] toshi0383 opened #128 "Don't write if no changes"
## What 🌱
Xcode reloads after applying XcodeGen even when pbxproj didn't change at all.

## Proposal 🎉
We should perform writing iff output data changes from existing file (if exists).

[2017-10-23 05:49] pepibumur commented on #128
Not sure if this is something we should handle from this. What are your thoughts on this @yonaskolb ?

[2017-10-27 15:28] #41 closed

[2017-11-08 08:12] pepibumur opened #137 "Include settings in PBXBuildFile"
## Context 🕵️‍♀️
I opened a project with `xcproj` and after saving it most of the `PBXBuildFile`s didn't match with the ones before.

## What 🌱
It turned out that the `settings` property needs to be written, even if the dictionary is empty:

[code]

## Proposal 🎉
Update `PBXBuildFile` to include the settings dictionary as well.

[2017-11-08 08:16] pepibumur opened #138 "Wrong build phase name"
## Context 🕵️‍♀️
I opened a project with `xcproj` and after saving it, some build files that belonged to a copy files build phase had the wrong comment.

## What 🌱
[code]
**Notice the `Features.framework` in CopyFiles` comment. `CopyFiles` should be the build phase name.**

## Proposal 🎉
Update `PBXBuildFile` to generate the right comment.

[2017-11-08 08:20] pepibumur opened #139 "PBXCopyFilesBuildPhase files have a wrong comment"
## Context 🕵️‍♀️
`files` in `PBXCopyFilesBuildPhase` are generated with a wrong comment.

## What 🌱
The comment should have the build phase name *(if there is)*:

[code]

## Proposal 🎉
Update `PBXBuildPhase` to generate the proper comment.

[2017-11-08 08:24] pepibumur opened #140 "PBXBuildFiles that are XCVersionGroups have a wrong comment"
## Context 🕵️‍♀️
If a build file refers to an `XCVersionGroup` *(e.g. Core Data model)* the generated build file has a wrong comment.

## What 🌱
[code]

Although the example above is for a build phase's files property, it also happens in the `PXBuildFile` objects.

## Proposal 🎉
- Update `PBXBuildFile` to generate the proper comment.
- Update `PBXBuildPhase` to generate the proper comment for the

[2017-11-08 08:27] pepibumur opened #141 "PBXGroup useTabs property getting removed"
## Context 🕵️‍♀️
After reading and saving an existing Xcode project with `xcproj` some groups with the `useTabs` property equal to 0 lose the property.

## What 🌱
[code]

## Proposal 🎉
Fix it 😁

[2017-11-08 08:29] pepibumur opened #142 "PBXHeadersBuildPhase generated with the wrong comment"
## Context 🕵️‍♀️
`PBXHeadersBuildPhase` gets generated with the wrong comment.

## What 🌱
[code]

## Proposal 🎉
Fix it! :shipit:

[2017-11-08 08:31] pepibumur opened #143 "PBXNativeTarget productReference generated with a wrong comment"
## Context 🕵️‍♀️
The `PBXNativeTarget.productReference` property is generated with an invalid comment.

## What 🌱
[code]
![image](https://user-images.githubusercontent.com/663605/32538821-a9b5cbe2-c467-11e7-9727-5e8bbfc6a72c.png)
![image](https://user-images.githubusercontent.com/663605/32538830-aeae405c-c467-11e7-9553-851b1a74b1f5.png)

## Proposal 🎉
Fix it! :shipit:

[2017-11-08 08:34] pepibumur opened #144 "PBXProject has a wrong comment in the buildConfigurationList property"
## Context 🕵️‍♀️
`PBXProject` is generated with a wrong comment in the `buildConfigurationList` property.

## What 🌱
[code]

**Notice that the project is empty, and it should be the project name**

## Proposal 🎉
Fix it!

[2017-11-08 08:37] pepibumur opened #145 "Build settings generated without quotation marks"
## Context 🕵️‍♀️
Xcode generates the build settings that are strings adding quotation marks. When xcproj saves them, it doesn't add those quotation marks.

## What 🌱
![image](https://user-images.githubusercontent.com/663605/32538998-5b376894-c468-11e7-9477-57ecc08b02a7.png)

## Proposal 🎉
Update how the build settings are generated to include those quotation marks.

[2017-11-08 10:58] allu22 commented on #137
@pepibumur are you sure you got the problem the correct way? I currently have a problem where `settings = {};` gets added when Xcode does not add it. And it seems the bug is here:
https://github.com/xcodeswift/xcproj/blob/780282e21cd265245d0dc35033e40ac35fb0ffb2/Sources/xcproj/PBXBuildFile.swift#L41
It always falls back to empty dictionary.

[2017-11-08 13:04] yonaskolb commented on #145
I believe it only adds them if they contain special characters. And I think `/` is one of them. `$` may be too

[2017-11-08 19:14] #141 closed

[2017-11-08 19:16] pepibumur commented on #137
You are right, I interpreted it the other way around. We should update the line that you mention to keep the dictionary as nil if there's no `settings` in the read dictionary.

[2017-11-08 19:17] pepibumur commented on #145
Yeah we can have a list of those special characters and expand it as we find more cases.

[2017-11-08 19:24] yonaskolb commented on #145
This CharacterSet should cover it

[2017-11-08 20:02] pepibumur commented on #140
I'm taking this one!

[2017-11-09 09:30] demensdeum commented on #120
Agree, this project needs more high level API.
Have to move to ruby xcodeproj, because my team does not have time to understand all low-level references thing.

[2017-11-09 12:24] #143 closed

[2017-11-09 12:26] #138 closed

[2017-11-09 12:38] #137 closed

[2017-11-11 15:24] pepibumur commented on #120
Hey @demensdeum I'm very sorry to hear that. We are open to new ideas and proposals. Don't hesitate to open an issue with your concerns and maybe a proposal of how you would like the API of `xcproj` to be. If it doesn't meet the xcproj's responsibilities we can think about creating a new tool/layer that suits yours and other developers needs.

[2017-11-13 22:56] rahul-malik commented on #56
@pepibumur - Isn't this as straightforward as **not** deleting the xcschemes folder even if `overwrite` is `true`?

[2017-11-14 10:32] pepibumur commented on #56
Exactly. What do you think @rahul-malik ?

[2017-11-14 10:40] yonaskolb commented on #56
If we don’t delete the directory then how do we open a project and then delete some schemes and write back?

In this particular issue is the cause that the schemes aren’t being read properly or aren’t being written properly? This needs to be debugged

@rahul-malik this is a different issue to xcodegen. Maybe there we can simply not write (or delete) schemes if none are defined

[2017-11-14 10:49] pepibumur commented on #56
I need to dive into the implementation but it might be caused by schemes that are not properly read. Did you have any issue writing schemes with XcodeGen @yonaskolb ?

[2017-11-14 10:53] yonaskolb commented on #56
XcodeGen just removes all schemes even if you haven't created any, which in some setups may be undesirable

[2017-11-16 12:10] #144 closed

[2017-11-16 19:11] #145 closed

[2017-11-16 20:09] #139 closed

[2017-11-16 20:12] yonaskolb commented on #115
This is something that came up recently in XcodeGen. It would be great to have access to this file to turn off the `IDEWorkspaceSharedSettings_AutocreateContextsIfNeeded` flag.
cc @rahul-malik

[2017-11-21 07:25] pepibumur opened #163 "Swift optimizations"
## Context 🕵️‍♀️
As @rahul-malik suggested we can go further optimizing xcproj.

## What 🌱
Optimize the implementation based on the [Apple official tips](https://github.com/apple/swift/blob/master/docs/OptimizationTips.rst)

## Proposal 🎉
Check the tips from Apple, identify optimization areas, and improve them.

[2017-11-21 10:24] #163 closed

[2017-11-22 18:59] rahul-malik opened #165 "Add ability to read-write command line arguments for schemes"
## Context 🕵️‍♀️
To specify command line arguments for a scheme, you need a specific child element under the relevant action.

## What 🌱
Currently the actions in `XCScheme.swift` do not support specifying a list of command line arguments. This would be useful for potentially all action types.

## Proposal 🎉

- Add a new `final` class `CommandLineArguments` that will take a list of command line arg

[2017-11-24 14:35] pepibumur commented on #114
@esttorhe I was thinking more about branching out and letting Travis-CI do its job. I think it's very feasible now that we update the `CHANGELOG` every time we open a new PR. Would you like to tackle it? 😀

[2017-11-24 15:20] pepibumur commented on #56
When the schemes cannot be parsed we get nil values. That's why when we write back we get the schemes removed. I'll review the way we parse the schemes to make sure it's aligned with Xcode.

[2017-11-25 21:30] #71 closed

[2017-11-25 21:30] pepibumur commented on #71
Closing this one since @allu22 already fixed it.

[2017-11-25 21:59] #44 closed

[2017-11-25 22:00] #60 closed

[2017-11-26 01:37] Daltron commented on #44
Hey guys! 😄 The examples have come a long way since I first opened this issue so thank you for that! I'm looking to finish what I once originally had conceptualized now that I can do what I am wanting to do :)

[2017-11-26 09:26] pepibumur commented on #44
Nice! Feel free to ping us if you get stuck with anything. We're happy to help you.

[2017-11-27 05:15] #165 closed

[2017-11-30 16:05] #111 closed

[2017-12-03 08:41] pepibumur opened #176 "Change probot stale settings"
To be less aggressive

[2017-12-05 10:53] pepibumur commented on #73
This should be tackled. Reopening the issue

[2017-12-05 10:56] pepibumur commented on #40
This shouldn't be closed. Reopening.

[2017-12-05 10:57] pepibumur commented on #31
This shouldn't be closed, reopening. Thanks @yonaskolb for pointing it out.

[2017-12-08 07:45] pepibumur opened #178 "uuid"

[2017-12-08 07:46] pepibumur opened #179 "UUID generation"
The purpose of this epic is to provide the developers with automatic UUID generation from xccproj. Generatin UUIDs is something right now developers have to do when they add new elements to the project object. These UUIDs should be deterministic based on the object attributes and they should be unique across the list of objects.

[2017-12-08 07:46] #179 closed

[2017-12-08 15:21] pepibumur commented on #176
I've updated it to be less aggressive

[2017-12-08 15:21] #176 closed

[2017-12-08 16:28] pepibumur commented on #140
This is already fixed

[2017-12-08 16:28] #140 closed

[2017-12-08 18:03] #178 closed

[2017-12-08 18:05] pepibumur opened #182 "Fail earlier if the Carthage project hasn't been generated when necessary"
## Context 🕵️‍♀️
As suggested by @rahul-malik in this PR, we could improve the CI feedback time when the developer forgets to re-generate the Carthage project after some files have been added/removed.

## What 🌱
Add a Danger check that fails CI earlier.

[2017-12-13 11:01] pepibumur opened #186 "Automate some generation of code with Sourcery"
## Context 🕵️‍♀️
As suggested by @toshi0383, there's some code that we can generate using Sourcery. Some examples of code that we can generate are:

- Constructor based on the properties.
- Equatable `func ==` implementation.
- Hashable.

## What 🌱
Introduce Sourcery into the codebase.

[2017-12-13 11:06] yonaskolb commented on #186
And hashable.
We could then use the hash to do automatic references

[2017-12-13 11:09] pepibumur commented on #186
Updated! What do you mean by *automatic references* @yonaskolb ?

[2017-12-13 11:13] yonaskolb commented on #186
Well we could let xcproj automatically create references based on each objects contents as opposed to making users manually use the generator.
So when adding an object, the reference could be left out and then given an automatic reference. On writing (because the objects are mutable) it could then create a deterministic reference using all the properties, or  hashable, or a hand selected propertie

[2017-12-13 12:08] pepibumur commented on #186
Great idea! I think the less developers have to worry about these things the better. It should allow them to specify the reference if they want to though. I'll move the idea to an actionable issue that we can work on.

[2017-12-13 12:11] pepibumur opened #188 "Generate references on save"
## Context 🕵️‍♀️
As suggested by @yonaskolb  [here](https://github.com/xcodeswift/xcproj/issues/186#issuecomment-351360875). After using Sourcery to conform the Hashable protocol from all our models, we could improve xcproj to abstract developers from having to create the reference by themselves.

## What 🌱
xcproj would create a temporary reference to work with the objects in memory. xcproj would

[2017-12-15 15:34] #182 closed

[2017-12-18 16:05] yonaskolb commented on #188
related to #31

[2017-12-20 01:51] Gocy015 opened #199 "typeMismatch error when opening a xcodeproj"
Hi,
My Project uses cocoapods to manager third-party library dependencies. Since `XCWorkspace`
 only has limited functionality, i instead try to initialize a `Xcodeproj` instance.

However, the following code throws an error:
[code]
[code]

I've opened my project and searched for keyword `fileEncoding`, all my `fileEncoding = ` statement are followed by an integer.

[2017-12-20 03:15] Gocy015 commented on #199
sorry, i was using a very old version.

[2017-12-20 03:15] #199 closed

[2017-12-21 10:43] yonaskolb opened #200 "XcodeProj gives incorrect Equatable results"
Currently XcodeProj is equatable but doesn't compare it's `sharedData` property (as `XCSharedData` is not yet equatable), so gives incorrect results if anything inside there (such as `Schemes`) have changed.

This could be solved with #186

[2017-12-23 06:44] yonaskolb opened #204 "Convert some UInt properties to Bool"
There are a number of properties that can only ever be 0 or 1. These can be changed to Bools in the public interface. As this a breaking change it can go into the 2.0 release

[2017-12-23 08:21] pepibumur commented on #204
Good one. xcproj 2.0 will be a good release!

[2017-12-23 13:54] iOSleep opened #205 "change the organization name unexpectly"
## What 🌱

i can't find the Organization Name setting in xcproj, what should i do execpt rename `ORGANIZATIONNAME` in `project.pbxproj`

![image](https://user-images.githubusercontent.com/26478957/34320026-ce47085e-e82a-11e7-99be-fa71dab2001e.png)

[2017-12-23 16:16] iOSleep opened #206 "can't parse a demo with pod"
## Context 🕵️‍♀️

## What 🌱

my pod version: `1.4.0.rc.1`
my xcode version: 9.2

[code]
it pause in this place
![image](https://user-images.githubusercontent.com/26478957/34320934-655f3974-e83e-11e7-8e94-6c94721bbd81.png)

end get error info in console
![image](https://user-images.githubusercontent.com/26478957/34320942-afb128a2-e83e-11e7-83ea-1db430897ee3.png)

[the trouble xcodeproj file](https:

[2017-12-31 10:54] yonaskolb commented on #100
@pepibumur I don't see the point of this stale bot. We don't have hundreds of issues that are overwhelming, and these are ones we want to keep open

[2018-01-01 19:38] pepibumur commented on #100
Removed @yonaskolb

[2018-01-08 16:36] #205 closed

[2018-01-09 18:37] ilyapuchka commented on #120
Hi guys. I have been working on the same task over last few days and it seems to me like it's one of the basic functionalities that such project should provide, but right now it requires a lot of manual steps.

1. get target
2. create or get existing group (creating group named "Sources/Something" should create two groups) 3. create or get existing file reference (to avoid adding the same file sev

[2018-01-09 19:35] ilyapuchka commented on #40
I'm using this code to get full path of file element:

[code]

It only encounters absolute paths and paths relative to groups or sources root, but it should be possible to extend it to other source tree types if it's possible to provide corresponding environment variables.
P.S. it probably can be optimised as it iterates over all groups for each intermediate group.

[2018-01-09 19:43] ilyapuchka commented on #56
@pepibumur any progress with that? I'm working on integrating xcproj to Sourcery but this behaviour is very much undesirable and will be a blocker. If you need help I can look into it. Maybe a quick work around might be not to delete files for unknown schemes (those that were not parsed)?

[2018-01-10 08:22] pepibumur commented on #40
@ilyapuchka I think that would be a great addition to xcproj. Would you mind adding it? We could optimize it in future iterations if it's necessary.

[2018-01-10 08:25] pepibumur commented on #56
There hasn't been any progress so far. The last thing that I remember is that it failed because the schemes where not properly parsed and instead of failing it results in an empty list of schemes. As a consequence the write overrides everything. I think we could fix it by understanding why the parsing is failing, fixing it, and throwing errors instead of silencing them.
What do you think? Would yo

[2018-01-10 09:22] pepibumur commented on #120
Hi @ilyapuchka. I personally think there's no problem in adding these convenience methods to the xcproj API. As you pointed out, having a second project for it would be a bit overkill. My concerns when it comes to adding such API is that:

1. They solve very specific needs. I think we can have a look at the PR you opened and with some feedback from others, we can try to make it as generic as possi

[2018-01-10 09:53] demensdeum commented on #120
@pepibumur please look at [](https://github.com/calabash/xcode-editor), I like their API, but their project is for ObjC.

[2018-01-10 12:52] pepibumur commented on #120
Thanks for sharing it @demensdeum, I had no idea about that tool. Which of these convenience methods would you be interested in? If you bring them up we can discuss whether or not they'd be within the scope of the project. You are also welcome to contribute as @ilyapuchka did. We're not against having a convenient API but it needs a thoughtful discussion to prevent the project from assuming too ma

[2018-01-11 10:31] ilyapuchka commented on #56
Actually the problem that I'm facing is not deletion of schemes, but that they are written in the different format than Xcode, so every time project is saved it overrides all the scheme content and then if you change anything manually in Xcode it overrides it again. This is different, but still annoying, so I will create a different issue for that.

[2018-01-11 10:37] ilyapuchka opened #214 "Scheme file format mismatch"
## What 🌱
Xcode stores project schemes in a format that is different to format used by xcproj, more specifically it adds new lines when xcproj does not, order of actions is different, it adds empty blocks when xcproj does not. That leads to files content being completely overridden when changes are made either by Xcode or xcproj or even when the project is saved by xcproj without any chnages in sc

[2018-01-13 11:59] #214 closed

[2018-01-18 15:18] #120 closed

[2018-01-23 12:25] yonaskolb opened #219 "Test suite order"
When tests are run the slow integration tests are run first. These should be after the quicker unit tests, for more immediate feedback on test failures

[2018-01-23 12:36] yonaskolb commented on #206
Hi @iOSleep
This was fixed in 1.3.0 https://github.com/xcodeswift/xcproj/releases/tag/1.3.0
From your screenshot it looks like you are using 0.4.1

[2018-01-23 14:33] pepibumur commented on #219
Agree. I wish there was a way to have more control over the schemes from the `Package.swift`.

[2018-01-23 14:52] pepibumur commented on #206
Let us know if it works @iOSleep 😛

[2018-01-25 11:35] #204 closed

[2018-01-29 23:42] olbrichj commented on #40
These methods are great. Just one question:

How to I generate the sourceRoot? Since the project file can be anywhere in subdirectories I'm wondering whether I can get the sourceRoot somewhere within xcproj.

[2018-01-29 23:45] ilyapuchka commented on #40
Basically it's just the path to the project file. In Xcode it is an environment variable so you can't get it from the project, unless it defines a custom build setting that equals to this value.

[2018-01-30 06:16] ileitch opened #222 "Unable to CodeSign 4.0.0"
## Context 🕵️‍♀️

Cartfile.resolved:
[code]

[code]

## What 🌱

I'm trying to use `4.0.0` via Carthage, but I'm running into this error when I build in Xcode:

[code]

All other frameworks sign without error.

Also, when I run `carthage build --platform macos` I get
[code]

Note the final line: `Failed to read file or folder at /Users/ian/code/ileitch/periphery/Carthage/Build/Mac/xcproj.framework`

[2018-01-30 07:39] yonaskolb opened #223 "PBXObject Equatable is broken"
#218 broke Equatable even more. Every `PBXObject` subclass now incorrectly returns true for every comparison, which also means many will always incorrectly pass.
It looks like the previous implementation was also not working as subclasses didn't check their parents and superclasses didn't call down to subclasses.
The fix for this should be the addition of Sourcery templates what work well with cla

[2018-01-30 14:32] ilyapuchka commented on #40
Closed with #213

[2018-01-30 14:32] #40 closed

[2018-01-30 14:50] pepibumur commented on #222
Thanks for opening the issue @ileitch, it looks like the Carthage project that we generate doesn't contain the scheme that builds the macOS target. I'll fix it :)

[2018-02-02 10:00] ilyapuchka opened #225 "Helper methods to use new object reference type"
With introduction of ObjectReference #218 helper methods should accept it as single parameter instead of accepting them separately.

[2018-02-03 19:59] olbrichj commented on #40
That makes it easy :) thx

[2018-02-04 20:34] #222 closed

[2018-02-05 03:13] iOSleep commented on #206
it works thanks~

[2018-02-05 03:13] #206 closed

[2018-02-10 23:09] olbrichj opened #228 "Minimum Deployment target"
## Context 🕵️‍♀️
Apps and frameworks have a minimum deployment target, which defines the lowest OS version, on which they can run.

## What 🌱
Currently the Carthage.xcodeproj defines the following minimum deployment targets:
iOS: 11.2
mac: 10.13
This forces the very current OS versions. Is this necessary? A lot of users (especially on macOS) are on older versions and this would force developers to

[2018-02-11 00:33] yonaskolb commented on #228
Good point @olbrichj.
The carthage project is generated via [Xcodegen](https://github.com/yonaskolb/XcodeGen). To change the deployment target the [carthage-project.yml](https://github.com/xcodeswift/xcproj/blob/master/carthage-project.yml) needs to define them explicitly otherwise it uses the default of the newest SDK's in Xcode
[code]
and the project has to be regenerated with `rake generate_car

[2018-02-11 16:15] olbrichj commented on #228
Found the time today :D. Though XcodeGen parses 10.10 oddly. It results in 10.1 so, for now, it's set to 10.11. Will create an issue in XcodeGen correspondingly.
On the other hand I've tried your suggested version via `options` but it didn't work. So the PR uses IPHONEOS_DEPLOYMENT_TARGET and MACOSX_DEPLOYMENT_TARGET.

[2018-02-11 21:14] fuzza opened #230 "Getting `notAFile` error when trying to add PBXFileReference to a dynamic framework"
## Context 🕵️‍♀️
I'm writing a script that integrates Carthage dynamic frameworks to XCode project using `xcproj`

## What 🌱
In order to create PBXFileReference to dynamic framework file, I'm trying to use the following function from `PBXProjObjects+Helpers.swift`:

[code]

In case of dynamic framework, it throws an `XCodeProjEditingError.notAFile(path: filePath)` exception regardless if file exsi

[2018-02-11 21:41] fuzza opened #231 "GroupAddingOptions.withoutFolder is inaccessible due to 'internal' protection level"
## Context 🕵️‍♀️
**xcproj version**: 4.0.0
**Task**: Trying to add a PBXGroup that is not referenced to a real folder.

## What 🌱

There is a public struct `GroupAddingOptions` that is used to specify additional options for PBXGroup creation.
The struct contains an internal constant `.withoutFolder` which seem to be designed for a public use as a parameter for a public `addGroup(named:to:options:)

[2018-02-12 08:31] #228 closed

[2018-02-12 08:36] pepibumur commented on #230
Hey @fuzza! Very good catch. I'd say just check if the file exists before adding it. I think it should be enough but you can ask @ilyapuchka to get more context on why he used `isFile`. Feel free to tackle the issue an open a PR that we can merge.

[2018-02-12 08:39] pepibumur commented on #231
It should be public @fuzza 😛. Feel free to open a PR with the change.

[2018-02-12 08:49] ilyapuchka commented on #230
Yes, I guess to do that 'isFile' is too strict, I didn't think about frameworks when implementing those helper methods as they are for adding source files. So it should be changed to just existence check t work with bundles like frameworks or even maybe image sets.

[2018-02-12 11:26] jcampbell05 commented on #230
:) In Xcake we had to handle special handling for bundles i.e `framework`, `settings` etc Basically we just had a list of extensions we know to be bundles and treat them as if they are files.

[2018-02-12 11:46] yonaskolb commented on #230
@jcampbell05 that layer is handled by XcodeGen, which does something similar.
In this case `.exists` will be enough as users are explicitly passing the path they want to add 👍

[2018-02-12 13:25] #223 closed

[2018-02-12 13:42] pepibumur commented on #230
Agree with @yonaskolb. From xcproj we expect the consumer of the library, like XcodeGen, to handle the file types accordingly.

[2018-02-12 14:13] fuzza commented on #230
@pepibumur, @yonaskolb, @ilyapuchka
Thanks for a quick feedback guys, I'll submit a PR with a fix soon.

[2018-02-13 13:11] #231 closed

[2018-02-18 18:32] Lancelotbronner opened #236 "Not finding .pbxproj"
## Context 🕵️‍♀️
I am using macOS High Sierra v10.13.3. I implemented xcproj first with cocoapods but there were errors with AEXML's framework so I simply copied all files into a directory in my project.

## What 🌱
When initializing an XCodeProj (exactly like in the example), it returned nil. I checked that the path was right (it was), that the project.pbxproj was there (it was), etc. I debugged t

[2018-02-18 23:02] olbrichj commented on #236
Just a quick question. Did you disable the sandbox in your projects entitlements? Otherwise your app won't have access to the filesystem and won't find the project.

[2018-02-19 04:06] Lancelotbronner commented on #236
Hello!
Thank you for the quick response!

I will check that during the week, but I don’t think there are project entitlements in a command line tool.

Thank you!

[2018-02-24 01:56] Lancelotbronner commented on #236
Hello!

I can confirm I do not have project entitlements anywhere in my project.

Thanks!
Christophe Bronner

[2018-03-21 12:14] #128 closed

[2018-04-04 16:26] LinusU commented on #186
Swift 4.1 supports automatically generating Hashable and Equatable now 🙌 🚀

This could still be nice for initialisers based on the properties though 🤔

[2018-04-05 09:08] LinusU commented on #186
Yes! 🎉

https://github.com/apple/swift-evolution/blob/master/proposals/0185-synthesize-equatable-hashable.md

[2018-04-05 09:12] pepibumur opened #248 "Leverage Swift 4.1 Hashable and Equatable conformance synthesizing"
## Context 🕵️‍♀️
As @LinusU pointed out, with Swift 4.1 we get [Hashable and Equatable conformance](https://github.com/apple/swift-evolution/blob/master/proposals/0185-synthesize-equatable-hashable.md) out of the box so we don't need to manually define it.

## What 🌱
We can remove our custom conformance and use the synthesizing the language gives us.

## Proposal 🎉
Just remove some unnecessary cod

[2018-04-05 09:14] pepibumur commented on #186
I opened an issue to tackle this @LinusU, https://github.com/xcodeswift/xcproj/issues/248. If you are interested in working on it feel free to assign it to you and move it forward. We had some issues with our conformances in the past (missing properties) so this should help with all those issues.

[2018-04-05 09:15] pepibumur commented on #186
Closing this one in favour of [this other issue](https://github.com/xcodeswift/xcproj/issues/248)

[2018-04-05 10:11] yonaskolb commented on #248
Sorry, but I believe auto `Equatable` and `Hashable` is only for value types, not classes

[2018-04-05 10:59] pepibumur commented on #248
You are right, I'll reopen the other one.
![image](https://user-images.githubusercontent.com/663605/38362428-214d10ec-38d1-11e8-975d-3cbfb5b171ff.png)

[2018-04-05 10:59] #248 closed

[2018-04-05 14:42] pepibumur commented on #236
Hi @Lancelotbronner. Could you solve this issue that you had with xcproj?

[2018-04-05 21:51] Lancelotbronner commented on #236
Hello,

I have updated some stuff and I think the problem went away, I will confirm that with you once it’s back up and running or when I get errors from xcproj.

Thanks,
Christophe Bronner

[2018-04-06 15:08] pepibumur commented on #236
Would you mind adding some concrete examples @Lancelotbronner. That'll help us better know what's exactly failing on those examples.

[2018-04-08 09:04] pepibumur commented on #236
Thank you very much @Lancelotbronner I'll debug those on Monday and fix them.

[2018-04-21 22:35] pepibumur opened #251 "Use Sourcery to generate objects references"
## Context 🕵️‍♀️
With Sourcery, we can use it for generating the references that are used to reference the objects in the Xcode project.

## What 🌱
Add a Sourcery template for that purpose and setup the objects accordingly.

[2018-04-21 22:37] pepibumur opened #252 "Conform Equatable from XCScheme"
## Context 🕵️‍♀️
`XCScheme` and all the associated models are not equatable. Writing the conformance manually was pain in the ass, but now with Sourcery we can generate it.

## What 🌱
Make XCScheme models conform Equatable using Sourcery.

[2018-04-22 00:01] yonaskolb commented on #252
Duplicate of #200

[2018-04-22 07:54] pepibumur commented on #252
You are right, I'll close this one.

[2018-04-22 07:54] #252 closed

[2018-04-23 07:49] #186 closed

[2018-04-27 03:55] artemnovichkov opened #254 "Names of linked frameworks"
## Context 🕵️‍♀️
I'm developing [Carting](https://github.com/artemnovichkov/Carting) and in next major release I want to rewrite project parsing logic with xcproj.

## What 🌱
I want to get a names of linked frameworks for every target, but I didn't API for it. Here is my test code:
[code]
I got only refs for frameworks.

[2018-04-27 09:27] artemnovichkov commented on #254
I'm not sure I have enough time, but I'm ready to start it. Could you please tell me how I can get the names for framework references with current xcproj implementation?

[2018-04-27 09:39] pepibumur commented on #254
Sure, no worries. I can do that, I just tried to explain you why it's not possible right now. So in order to do that with the current implementation:

[code]
That should give you the linked frameworks for any target.

[2018-04-27 09:45] artemnovichkov commented on #254
Got it, thank you!

[2018-04-27 10:06] #254 closed

[2018-04-29 17:48] pepibumur opened #256 "Shaping the future of xcproj"
Hey everyone!

Almost one year ago I started working on xcproj. It's been an exciting journey so far, with ups and downs, but encouraging seeing all of you using the library, building tools and automating things in your own projects. After all the feedback I've collected from issues, PRs, and on Slack I thought it'd be a good idea to iterate and improve the tool and its API, and take the opportuni

[2018-04-30 06:15] alvarhansen commented on #256
Thank you @pepibumur for xcproj and all the hard work and time you have put into it. This project has saved me and others a lot of time and sanity (mostly around pbxproj git conflicts).
It's great to see that you have big plans for this project.

Some thoughts on organisational topic:

* **Renaming the project.**
Wouldn't it make it harder to find this specific project if was called the same as Co

[2018-04-30 07:08] pepibumur commented on #256
Thanks for your answer @alvarhansen and glad to hear that it's been very helpful for you.
- **Renaming of the project:** I hadn't think about that but that's a good point actually. What about introducing the swift keyword somewhere? I'd be too long I think `xcodeproj-swift`. Something that we can do when we rename it, and I've seen it in other projects like ReactiveCocoa, is creating a major versi

[2018-05-02 13:04] yonaskolb commented on #256
Sounds good. Though I agree that the name change is perhaps unnecessary and potentially quite confusing, due to it already being an established name

[2018-06-10 12:15] #251 closed

[2018-06-10 12:33] #98 closed

[2018-06-10 12:33] #31 closed

[2018-06-10 12:36] pepibumur commented on #225
The new version of xcodeproj that is coming changes how references are handled and `ObjectReference` is not needed anymore because `PBXObject`s have a reference attribute.

[2018-06-10 12:36] #225 closed

[2018-06-10 12:42] pepibumur commented on #256
Most of the points above have been addressed:

- [x] Automatic reference generation. There's a little thing missing that I need to implement.
- [x] Convenient API. Objects have methods now to materialize references to other objects. You don't need to look up those objects in the project.
- [x] There's a `Xcode` class with some constants and helper methods defined in it.
- [x] SPM Packages: The onl

[2018-06-10 12:44] #73 closed

[2018-06-10 12:45] #114 closed

[2018-06-11 08:25] olbrichj opened #265 "Changing Reference value of objects"
I'm currently looking into xcodeproj whether I can just change a file reference and it will be updated throughout the project. Just changing the value doesn't lead to much success, as it doesn't change any objects referencing to it.

The usecase itself is to update all references within an Xcode Project so merges etc will be easier.

Is this possible with xcodeproj?

[2018-06-11 11:02] pepibumur opened #266 "Rename attribute to fileReferences"
## Context 🕵️‍♀️
https://github.com/xcode-project-manager/xcodeproj/commit/a1c54b7b45c7d2fe8e53b23889d17a69099cc4dd#r29312425

[2018-06-11 11:04] pepibumur commented on #265
Changing the values of references is not supported. When a project is parsed, a reference instance is created for each of the objects whose value is hidden from you. If you create new objects, those get a temporary reference that gets fixed when the project is persisted.

Could describe more that use case that you talk about?

[2018-06-11 12:45] olbrichj commented on #265
I'm working with multiple teams on one project. All of them merge their changes (to the project file) to the master branch at any time. So we spend quite a lot of time merging project files (including fixing them). One tool we found is https://github.com/truebit/xUnique which is not actively developed anymore.

To reduce this overhead I'm trying to create multiple tools which make either the merge

[2018-06-11 14:50] pepibumur commented on #265
We're finishing a new xcodeproj release that will generate deterministic references when generating objects in a project. However, the it doesn't allow you define your custom deterministic strategy to be applied to the objects that already exist in a project that you read.

Something that we could add support for, and that will help you solve that problem, is invalidating the references of your pr

[2018-06-12 05:33] olbrichj commented on #265
Great!

[2018-06-15 14:46] pepibumur opened #269 "Support new Xcode 10 properties"
## Context 🕵️‍♀️
Xcode 9 has introduced new attributes like file lists in build phases. We should add support for them.

[2018-06-18 14:30] pepibumur commented on #269
This is what we'd need to add https://github.com/CocoaPods/Xcodeproj/commit/517e1f6d338acc0ed9b7b534428cda4882a4d570

[2018-06-20 06:45] #269 closed

[2018-06-20 06:45] #266 closed

[2018-06-20 06:53] yonaskolb opened #272 "Changelog PR links are broken"
Many of the changelog PR links are broken as they point to XCBuddy

[2018-06-20 07:30] pepibumur commented on #272
Good catch! I've deleted them because the repository was overridden when I transferred the repository and I doubt and I can get them back. I've updated the `CHANGELOG.md` and the release notes.

[2018-06-20 07:30] #272 closed

[2018-06-20 07:35] pepibumur opened #274 "Split the XCScheme file"
## Context 🕵️‍♀️
This file has grown a lot and it's becoming unmanageable.

## What 🌱
Split it into different Swift files. We could name them like:

[code]
Since those types are defined in the `XCScheme` namespace we could leverage extensions to get the same namespaces structure.

[2018-06-21 11:41] yonaskolb commented on #269
How about the parallel testing for schemes

[2018-06-29 17:14] brentleyjones opened #276 "Support RemoteRunnable in Schemes"
## Context 🕵️‍♀️

Schemes can't specify a `<RemoteRunnable>` in the `<LaunchAction>`, and thus can't launch Sticker Packs:

[code]

## What 🌱

Currently `BuildableProductRunnable` is the only option for a `XCScheme.LaunchAction`. It should support `RemoteRunnable` as well.

## Proposal 🎉

Adjust `BuildableProductRunnable` to specify an optional `BundleIdentifier`, and if specified it's tag will be

[2018-08-08 13:57] Dschee opened #280 "Build Script causes CFPropertyListCreateFromXMLData Error"
Hi, I currently try to integrate this project in a Command Line Tool that I will open source next week. I'm struggling with a test though where I try to read a Swift Package Manager generated .xcodeproj file (I just ran `swift package init && swift generate-xcodeproj`) where I added the following build script to the main target:

[code]

This is a very common type of script amongst the projects I'

[2018-08-08 14:26] pepibumur commented on #280
Thanks @Dschee for reporting this. There must be a bug in the logic that parses the project. I"ll have a look and work on a fix for it.

[2018-08-08 16:59] pepibumur opened #281 "Add convenient methods to objects"
## Context 🕵️‍♀️
When we need to add a new object, B, which is refered from another object A, we need add it to the `pbbxproj.objects` instance, and then add the reference to A.

Since objects have now a reference to the `pbxproj.objects` instance, we can remove the first step by just exposing a convenient API from objects. The example below illustrates the difference:

**Currently**
[code]

**Wit

[2018-08-08 17:47] pepibumur commented on #276
Thanks for opening this. As soon as I finish [this work](https://github.com/tuist/xcodeproj/pull/273/files) I'll add support for remote runnables.

[2018-08-09 06:54] pepibumur commented on #276
@brentleyjones I'm trying to find out where I can add a remote runnable from the scheme settings but I can't. I created a stickers target and went through all the options in the run tab of the scheme settings.

Could help me find those settings? I need to check out with Xcode which properties should be optional.

Thanks!

[2018-08-09 06:55] #256 closed

[2018-08-09 06:55] pepibumur commented on #256
I merged yesterday the last task that was missing, conforming equatable from the scheme models. I took the opportunity to refactor the `XCScheme` file and split it into smaller and more manageable files. I'll release another candidate today.

[2018-08-09 06:57] pepibumur commented on #56
Is this still happening @ilyapuchka? If not I'll close this issue.

[2018-08-09 07:02] pepibumur commented on #100
I don't think there's a lot of value on this task other than doing it the Swifty way. Our consolidated approach for serializing the in-memory representation of the projects, workspaces, and schemes is working pretty well.

Trying to use encoders wouldn't save us any line of code because objects have custom logic to for the attributes comments that we'd need to support somehow from the encoders. I

[2018-08-09 07:05] pepibumur commented on #265
I forgot to update you on this but there's already a method available in the latest version for invalidating the objects references: https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/PBXObjects.swift#L68

If you call that method and then save the project, it'll invalidate the references and generate new ones deterministically.

[2018-08-09 07:05] #265 closed

[2018-08-09 07:06] pepibumur commented on #274
This has already been done [here](https://github.com/tuist/xcodeproj/pull/273). Closing

[2018-08-09 07:06] #274 closed

[2018-08-09 07:44] #281 closed

[2018-08-09 10:41] #200 closed

[2018-08-09 13:52] brentleyjones commented on #276
I'm not able to create this in the scheme (anymore?). Seems something might have changed between Scheme version 1.3 and 2.0.  Now it seems if you have `wasCreatedForAppExtension = "YES" version="2.0"` on the `Scheme` object and `BuildableProductRunnable` targeting the container app, Xcode will correctly launch `com.apple.MobileSMS` for you.

[2018-08-09 14:44] pepibumur commented on #276
Do you remember how you created it? Was it Xcode 9?

[2018-08-09 14:57] brentleyjones commented on #276
It was probably Xcode 8 or earlier. Since then we have moved to XcodeGen and I no longer have the original scheme 😢.

[2018-08-09 15:04] pepibumur commented on #276
Ouch, I'll try with that version of Xcode then. Do you know what's the equivalent of those in Xcode 9/10? Just wondering if they merged it into an existing model that we already support, or if they renamed it into something else.

[2018-08-09 15:06] brentleyjones commented on #276
It looks like they merged it with `BuildableProductRunnable`, since it was an odd variant of that. That said, when I manually made the changes I could get Xcode to leave it alone. The UI is funny though, since it shows "Ask at Launch", yet it doesn't ask and does the right thing.

[2018-08-09 15:29] pepibumur commented on #276
Like a lot of things with Xcode :trollface: .

I'll figure out if that merge resulted into some extra properties that we need to support. If `BuildableProductRunnable` was a property of Xcode 8, I don't think is worth adding support for it, unless there's a fair amount of developers using `xcodeproj` and Xcode 8 to justify the support.

What do you think?

[2018-08-09 15:34] brentleyjones commented on #276
Since I was able to get it to work with Xcode 9 without the `RemoteRunnable` element, and Xcode doesn't currently generate that element for any actions I create, I would say it's not worth adding.

Let's make sure we have the `launchAutomaticallySubstyle` property for the `LaunchAction` element, and the `wasCreatedForAppExtension` property on the `Scheme` element. Then we should be able to recreat

[2018-08-09 15:37] pepibumur commented on #276
Cool I'll add support for those two properties then. Thanks for your help @brentleyjones

[2018-08-17 09:51] #100 closed

[2018-08-17 09:51] #56 closed

[2018-08-17 15:58] pepibumur commented on #280
Hi @Dschee. I tried the same steps that you included and I'm not able to reproduce it. The error that you are getting is thrown by the `PropertyListDecoder` class from `Foundation`. If you look at the error, it complains about the line `226` missing a `;`. Would you mind making it fail again and copying and pasting that fails here? You should get the line from the `project.pbxproj` file.

[2018-08-17 16:09] pepibumur commented on #276
Hi @brentleyjones. I pushed to master by mistake, I should have created a PR. Would you mind reviewing the changes on [this commit](https://github.com/tuist/xcodeproj/commit/276e3ed4723ecc52af094027e7cb7850da9f1d5f). If they look good I'll close this issue.

Thanks for your help.

[2018-08-19 09:04] yonaskolb opened #285 "Missing some PBXObjectReferences generation"
xcodeproj 5.0 regression

The following references don't seem to be generated before writing:
- `PBXLegacyTarget.buildPhases`
- `PBXTargetDependency.targetDependency`
- `PBXAggregateTarget.buildPhases`
- `PBXAggregateTarget.dependencies`

[2018-08-19 09:11] yonaskolb opened #286 "PBXObjectReference property names"
Post 5.0 the properties referencing `[PBXObjectReferences]` have `References` appended to them. There are some cases of this causing grammatical errors due to pluralization. eg:
- buildPhasesReferences
- buildRulesReferences
- targetsReferences
- dependenciesReferences
- buildConfigurationsReferences

These could be renamed to remove the pluralisation.
However I would suggest however actually remo

[2018-08-19 09:14] yonaskolb opened #287 "Missing blueprintIdentifier PBXObjectReference"
In 5.0 `XCScheme.BuildableReference.blueprintIdentifier` isn't a `PBXObjectReference`, which means there's no way to set this to (for example) a `PBXNativeTarget.reference`

[2018-08-19 09:50] yonaskolb opened #288 "No way to set TargetAttributes"
`PBXProject.attributes` is a `[String: Any]`.
One of the important attributes is `TargetAttributes` which is a map of the target UUID to special properties including, but not limited to `TestTargetID`, `ProvisioningStyle` and `DevelopmentTeam`.

Now that `PBXTarget.reference` is a `PBXObjectReference` in 5.0 we can't create that map anymore. If `PBXObjectReference.value` was public it would be pos

[2018-08-19 11:26] pepibumur commented on #288
Good catch. Are the keys of `targetAttributes` always references to targets? If so, we can use `PBXObjectReference` as you suggested and update the writing logic to take the value.

I wouldn't make the property `PBXObjectReference.value` because I think that's an internal detail the consumers of the API shouldn't worry about.

[2018-08-19 11:48] yonaskolb commented on #288
Yeah I don't think the keys can be anything other than PBX references

[2018-08-19 11:51] yonaskolb commented on #286
Yeah that's one option. What if they had the original names and you just had an extension on an array of PBXObjectReference that had an `objects` property? That way it's still easy to use, but you don't have to duplicate all the properties

[2018-08-20 07:37] pepibumur commented on #286
That could be another option but the `objects` property would either return `PBXObject` or a generic type that developers would need to cast into the type that the reference is referring. That's something that could be solved by making the `PBXObjectReference` class generic, but that'd introduce another set of problems when using them in collections.

I think it's fine having typed getters for tho

[2018-08-20 07:37] pepibumur commented on #288
Cool, then let's do it the way you suggested.

[2018-08-23 14:11] brentleyjones commented on #276
LGTM :+1:

[2018-08-26 18:41] pepibumur commented on #280
Any updates here @Dschee?

[2018-08-30 12:02] yonaskolb commented on #286
I'm ok with that approach 👍

[2018-08-30 12:02] #286 closed

[2018-08-30 12:11] yonaskolb opened #292 "Target.productReference reference isn't generated"

[2018-08-30 13:28] pepibumur commented on #292
👍 thanks for the report! I'll work on a fix

[2018-09-01 15:01] #280 closed

[2018-09-01 15:01] pepibumur commented on #280
I'm closing this because I was not able to reproduce it and there wasn't any input from the reporter either. If it keeps happening to you, feel free to re-open the issue @Dschee

[2018-09-06 11:41] Dschee commented on #280
Hi @pepibumur, sorry for answering a little late, I was on vacation overseas til yesterday. Well you closed the issue a little quick, but that's not a problem, as far as I remember I found aworkaround. The project I came across this issue was open sourced in the meantime: [ProjLint](https://github.com/JamitLabs/ProjLint). Don't know, if this helps you though.

When I come across the issue again, t

[2018-09-06 13:10] pepibumur commented on #280
No worries! I hope you enjoyed your vacations.

I'm sorry if it was a little quick for you, but I had to make a call based on the status of the issue, which had received no answer in about a week. That does not mean it's permanently closed, and it can be reopened at any time if it's something still happening.

Congrats on the project ProjLint project. I'm glad to see xcodeproj's API being used to

[2018-09-06 16:12] pepibumur opened #293 "Make PBXObjectReference internal"
## Context 🕵️‍♀️
An object reference is an implementation detail of Xcode projects that is currently exposed in the public interface for developers to define relationships between objects.

## What 🌱
Revisit the public interface to not expose those models and define relationships with models instead. This not only makes the interface simpler, but makes it safer because we leverage the type system

[2018-09-07 09:31] #292 closed

[2018-09-10 08:44] #288 closed

[2018-09-10 09:58] pepibumur opened #296 "Linux compatibility"
## Context 🕵️‍♀️
According to [this task](https://bugs.swift.org/browse/SR-8115) the only blocker to have support for Linux has been fixed.

## What 🌱
Make xcodeproj Linux compatible.

## Proposal 🎉
- Set up the CI pipeline to run on Linux.
- Check out and fix any other issues with the usage of Foundation APIs.

[2018-09-11 16:51] pepibumur commented on #296
![](https://github.trello.services/images/mini-trello-icon.png) [Linux compatibility](https://trello.com/c/s7SgmSlZ/13-linux-compatibility)

[2018-09-11 16:52] pepibumur commented on #293
![](https://github.trello.services/images/mini-trello-icon.png) [Make PBXObjectReference internal](https://trello.com/c/GuKATWUS/14-make-pbxobjectreference-internal)

[2018-09-12 06:55] pepibumur commented on #276
I see. Thanks for reopening this @brentleyjones. I can have a look at it. If you would like to add support for it yourself, feel free to do it as well.

[2018-09-12 06:55] pepibumur commented on #276
![](https://github.trello.services/images/mini-trello-icon.png) [Support RemoteRunnable in Schemes](https://trello.com/c/FJZSwIKO/28-support-remoterunnable-in-schemes)

[2018-09-17 20:58] ileitch opened #301 "Why no CocoaPods or Carthage?"
I was using xcproj previously, both with the SPM and CocoaPods. I'm quite disappointed to see no CocoaPods support in this fork. What's the rationale? It's not much effort to support CocoaPods.

[2018-09-17 21:00] ileitch commented on #301
The reason I want to use CocoaPods is that SPM Xcode project generation sucks. At the moment I'm happy to maintain dependencies in both CocoaPods for day-to-day development and SPM for building releases.

[2018-09-18 06:34] pepibumur commented on #301
Hi @ileitch. Thanks for reporting this. Answering your comments:

The new version depends on some frameworks from the Swift Package Manager, which unfortunately, don't have support for those dependency managers. Adding support for them would require adding a `.podspec` and make Carthage compatible the SPM project, which we obviously can't.

Your concern is totally valid. However, I doubt we can br

[2018-09-18 06:54] pepibumur opened #302 "Generate files with the right UTI"
## Context 🕵️‍♀️
From Apple:

[Reference](https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/understanding_utis/understand_utis_conc/understand_utis_conc.html#//apple_ref/doc/uid/TP40001319-CH202-CHDHIJDE)

## What 🌱
Make sure workspaces and projects are written with the right UTI. The UTI of a file can be obtained running `mdls path/to/file`. Here are the UTIs of

[2018-09-18 06:55] pepibumur commented on #302
![](https://github.trello.services/images/mini-trello-icon.png) [Generate files with the right UTI](https://trello.com/c/pYBfZ6bn/35-generate-files-with-the-right-uti)

[2018-09-18 07:12] drekka opened #303 "Lots of warnings in Xcode 10"
Looks like the bulk of them are retired features of Xcodeproj that are still being used internally.

[2018-09-18 07:37] pepibumur commented on #303
We are addressing that [here](https://github.com/tuist/xcodeproj/pull/300). We deprecated some public methods that used internally. That PR will require a major bump because it introduces some breaking changes.

[2018-09-18 07:51] #293 closed

[2018-09-18 08:20] pepibumur commented on #303
It's already been merged. Check out the [release notes](https://github.com/tuist/xcodeproj/releases/tag/6.0.0) and the [migration guidelines](https://github.com/tuist/xcodeproj#migrate-to-xcodeproj-6) for more information.

[2018-09-18 08:20] #303 closed

[2018-09-18 09:35] ileitch commented on #301
It looks like the only dependency which doesn't support CocoaPods is the SPM itself, which appears to be used mostly just for its filesystem helpers. Would you consider using https://github.com/kylef/PathKit instead? I've used  it in my projects and have been very happy with it.

In general though, you're likely alienating a large set of potential users by not supporting CocoaPods.

[2018-09-18 10:56] ileitch commented on #301
Some other options:
https://github.com/JohnSundell/Files
https://github.com/kareman/FileSmith

[2018-09-18 12:04] yonaskolb opened #304 "Compile error in release builds"
It seems Swift 4.2 is failing to build xcodeproj in release mode for some reason.
This can be seen by running:
[code]

The following error occurs
[code]

This is a blocker for XcodeGen and there is an open issue here https://github.com/yonaskolb/XcodeGen/issues/391

[2018-09-18 12:10] fxcoudert opened #305 "Build failure with Xcode 10"
## Context 🕵️‍♀️

Building xcodeproj in its release configuration, with Xcode 10, leads to a build failure. It is possibly a bug in Apple's swift compiler. The issues was found while compiling the latest XcodeGen (https://github.com/yonaskolb/XcodeGen/issues/391), as part of recompiling Homebrew packages for macOS Mojave. The issue has been reproduced by many others, with Xcode 10, on both macOS 1

[2018-09-18 12:11] fxcoudert commented on #305
@yonaskolb reported it as the same time #304

[2018-09-18 12:11] #305 closed

[2018-09-18 12:17] pepibumur commented on #301
You are right, but also for defining the CLI interface. We made the decision of using SPM instead for two main reasons:
- It's actively supported by Apple because it's needed by the SPM.
- We depend on one dependency instead of multiple.

I'm not against reconsidering this approach if it turns to be very cumbersome. Generating a static library is, in my opinion, another valid approach which one co

[2018-09-18 12:20] pepibumur commented on #304
Thank for opening it. I realised it the other day doing some tests with Xcode 10 but I haven't been able to work on it yet. I'll prioritize this :)

[2018-09-18 12:31] pepibumur commented on #304
Thanks for reporting it. Do you have the link to the radar @fxcoudert?

[2018-09-18 12:34] fxcoudert commented on #304
@pepibumur radars don't have public links, do they?

[2018-09-18 12:54] pepibumur commented on #304
🤔 I thought they had. Is there any way to see if they respond to the radar?

[2018-09-18 13:11] yonaskolb commented on #304
https://bugs.swift.org would probably be a better place to open a bug. I don't have time to file one right now if someone else could

[2018-09-18 15:57] pepibumur commented on #304
[Here](https://bugs.swift.org/browse/SR-8790) is the bug. I tried several things but none of them worked :/

[2018-09-18 16:44] pepibumur commented on #304
This trick seems to work with the version 6.0.0 https://github.com/tuist/xcodeproj/commit/386575111ee5d4cae7877b651b695e0e1c4e2740. However, I tried to do the same in 4.3.0 to release a hot fix release, but it doesn't work :/

[2018-09-18 16:46] keith commented on #304
Submitted a workaround as well https://github.com/tuist/xcodeproj/pull/307

[2018-09-18 17:12] keith commented on #304
I'll prepare a PR for the necessary 4.3.0 change

[2018-09-19 22:01] yonaskolb commented on #304
Is there going to be a 6.0.1 release as well?

[2018-09-20 00:11] drekka commented on #303
Got it thanks.

[2018-09-21 08:25] ruipfcosta opened #312 "Lack of documentation"
## Context 🕵️‍♀️
Although most of the types contain code level documentation, I feel the learning curve of xcodeproj is quite steep given the lack of documentation and examples.

## What 🌱
I'm exploring xcodeproj on a personal project and my approach is simply based on trial and error, which involves having to inspect the resulting project file when things don't work as expected. Even tasks as sim

[2018-09-21 09:39] pepibumur commented on #312
Hi @ruipfcosta
Thanks for bringing this up. Documentation is something we haven't worked a lot on. As you mentioned, we added basic documentation to the attributes and method but not enough to understand  Xcode projects and how to manipulate them.

I like the idea of improving it in order to make Xcode projects and the library more accessible to anyone. xcodeproj opens a new API that developers mi

[2018-09-21 22:47] ruipfcosta commented on #312
Hi @pepibumur, thanks for being open to improvements and for volunteering to provide some support!
As a first step towards documenting the project I'm suggesting some improvements to the README file on this [pull request](https://github.com/tuist/xcodeproj/pull/313).
My idea is to include a table of contents which later can point to the documentation pages as they become available.

Thanks!

[2018-09-22 10:36] pepibumur commented on #312
That's a great idea to start from. I've already approved and merged your PR. Feel free to take ownership in the documentation.

Also, it's worth mentioning that while you interact with the library, you might come up with ideas to make the interface of objects more convenient. Don't hesitate to propose improvements to abstract consumers of the API from the internals.

[2018-09-23 09:16] yonaskolb opened #314 "XCBuildConfiguration.baseConfiguration is the wrong type"
The `XCBuildConfiguration` `baseConfiguration` init param is supposed to be a `PBXFileReference` and not a `XCBuildConfiguration`

[2018-09-24 05:35] #314 closed

[2018-09-24 14:44] ileitch commented on #301
I've made the switch to pure SPM 💯

[2018-09-24 14:44] #301 closed

[2018-09-24 15:32] #304 closed

[2018-09-25 12:41] yonaskolb commented on #287
This change was reverted in 6.0

[2018-09-25 13:35] yonaskolb opened #321 "No way to set target attributes that rely on a reference"
## Context 🕵️‍♀️
We need to set a target attribute within `PBXProj.targetAttributes` that relies on a reference, namely `TestTargetID`

## Proposal 🎉
Perhaps when setting `targetAttributes` you could use a `PBXObject` as a value (as the dictionary is a `[String: Any]`, and then when writing we'd loop through all the values in the dictionary, and if anything is a `PBXObject` it sets it's reference

[2018-09-25 15:35] pepibumur commented on #321
Using the `PBXObject` is a good idea. Internally we should keep the reference because we need to get its value when writing the project.

[2018-09-26 10:54] yonaskolb opened #322 "Non deterministic scheme XML order"
As Swift 4.2 has non deterministic hashing, the order of xml elements in Schemes are now random, so there are diffs on every generation.
There was some work done in https://github.com/tuist/xcodeproj/pull/216 to give order to some properties that didn't match the Swift 4 default order. This needs to be expanded to all the properties.

[2018-09-26 11:57] yonaskolb opened #323 "Reference performance"
I'm seeing some performance issues with xcodeproj 5+, which seems to stem from the way references are fetched.
I'm going to create some performance tests to measure the impact and report back.

A possible solution would be to cache a weak reference within the PBXObjectReference itself without always continually looping through all the types in `objects`. This speeds up cases where the referenced i

[2018-09-26 12:32] pepibumur commented on #323
Fetching the objects through the references definitively degrades the performance. It'd be great if you could collect those numbers.

After the project is read, we only materialise the objects from the references when we need to generate the comments when writing the project file (IIRC). We could do something like what you suggest there.

[2018-09-26 22:47] twobitunicorn opened #324 "Delete removes the file reference, but not the referring file references."
Hi.  Loving this library.  I am trying to remove a file reference from an XcodeProject file and I do not understand the results of this.  It seems that all references to the file are not removed when I write the project to file.

Here is a summary of my project.pbxproj file.

[code]

I call the method `project.pbxproj.delete(object: fileReference)` where `fileReference` is for the file reference f

[2018-09-27 07:45] KaneCheshire commented on #304
Can I ask if this fix will be published to Cocoapods? It's still showing as 4.3.0 for me there.

[2018-09-27 07:59] pepibumur commented on #304
Hey @KaneCheshire
I'll publish the 4.3.1 hot fix to CocoaPods but keep in mind that we dropped the CocoaPods support from the project.

[2018-09-27 08:14] KaneCheshire commented on #304
@pepibumur good to know! I wasn’t aware of that. Appreciate you taking the time to make an exception in this case. I use the pod in PixelTest: https://github.com/KaneCheshire/PixelTest

Going forwards I guess I’ll need to try and find another way to have it as a pod.

Thanks!

[2018-09-27 10:12] pepibumur commented on #324
Hi @twobitunicorn. Glad that you liked the library.

In a nutshell, `PBXBuildFile` is a proxy class between a build phase and a file reference. When you remove the file reference, you remove just the reference to the file, but not any other object that might be referencing that file.

What you should also do is:
- Remove any reference to the file from any group.
- Remove the build file
- Remove th

[2018-09-27 11:55] pepibumur commented on #304
No worries. We introduced the Swift Package Manager as a dependency from the version 5+, which doesn't support CocoaPods. I doubt we can tell Apple to support it :trollface:. What we could do though is providing an easy way to generate a dynamic framework with both, the x86 and the ARMv7, that you can integrate into your project using Carthage's approach. Would you mind opening an issue on this pr

[2018-10-04 06:49] #287 closed

[2018-10-05 18:10] pepibumur opened #329 "Add CocoaPods and Carthage support back"
## Context 🕵️‍♀️
We've been asked for this several times. After some thorough thinking, I think we could bring the support back and make the library accessible from any dependency management tool.

## What 🌱
- AFAIK the only dependency `xcodeproj` has with the SPM is with the `Path` classes. We could replace that dependency with [PathKit](https://github.com/kylef/PathKit), which supports both Cart

[2018-10-09 11:43] yonaskolb commented on #322
Fixed by #325

[2018-10-09 11:43] #322 closed

[2018-10-10 08:34] #321 closed

[2018-10-11 09:02] sjepifanov opened #335 "Request: add settable "parallelized" and "testExecutionOrdering" options to scheme generator methods for TestableReference."
## Context 🕵️‍♀️

parallelizable = "YES|NO"
testExecutionOrdering = "random"
they reside under TestAction\Testables\TestableReference section of .xcscheme file.

## What 🌱

(XCScheme.swift(4.3.1), XCScheme+TestableReference.swift(6.1.0))

## Proposal 🎉

[2018-10-11 09:12] pepibumur commented on #335
Thanks for bringing this up @sjepifanov. That's something we should definitively add support for.

[2018-10-11 15:53] Dschee commented on #296
Since the board is not public, I can't see the current progress on this one. I'd love to see Linux compatibility for xcodeproj. Currently it's not compatible, as you can see [here](https://app.bitrise.io/build/8e8b698385c34c70) my Linux CI builds are failling with this error:

[code]

[2018-10-11 15:59] pepibumur commented on #296
Hey @Dschee. Sorry, we stopped using Trello. We can wrap that one to run only on macOS. The main blocker is the PropertyListSerializer, which is not available on Linux. They don't seem to have done any work on the ticket that [we opened](https://bugs.swift.org/browse/SR-8115)

[2018-10-11 21:41] yonaskolb commented on #296
From the log @Dschee posted it looks like the signposting isn’t available on Linux either

[2018-10-12 07:55] #329 closed

[2018-10-12 12:10] #335 closed

[2018-10-15 08:22] Vyeczorny opened #341 "Issue with adding file to PBXGroup"
Hi, I have an issue with adding a file to `PBXGroup`. I'm trying to add file to the group using method:
[code]
where:
[code]

The file is added to the correct group, but the path in the .pbxproj file is wrong (path doesn't contain `Connectors` component):
[code]

I investigated that it is removed in line 173 of file `PBXGroup`, while creating path to save in pbxproj. Am I doing something wrong?

T

[2018-10-15 13:32] pepibumur commented on #341
Hi @Vyeczorny. `filePath` should be relative to the group you are adding the file to. If you want to use absolute paths instead, which I don't recommend, you can use absolutePath as sourceTree.

Let me know if that helps :)

[2018-10-15 14:59] Vyeczorny commented on #341
I used absolute path only in development process, I will use relative path in final project. However, I think I found some bug, I created a [pull request](https://github.com/tuist/xcodeproj/pull/343), could you take a look on it?

[2018-10-16 06:36] pepibumur commented on #341
That's a legit bug. Thanks for adding a fix for it.

[2018-10-18 08:59] #341 closed

[2018-10-19 13:37] samskiter opened #344 "Generate XCode style UUIDs"
## Context 🕵️‍♀️

We are using [XCodeGen](https://github.com/yonaskolb/XcodeGen) to generate projects.
We are also using [the famous sort script from apple](https://github.com/mas-cli/mas/blob/master/script/sort.pl) to keep our project file sorted and reduce the chances of merge conflicts.

## What 🌱
After generating a project using XCodeGen, we ran the sort scripts and found it failed on line 171

[2018-10-19 14:29] samskiter commented on #344
Closing - completely our fault, we are on old XCodeGen and therefore old XCodeProj. Appologies for the noise!

[2018-10-19 15:17] samskiter commented on #344
Actually, updating XCodeGen (which uses the latest XCodeProj) we still are getting UUIDs that look like "AAA_123456789". Is that expected?

[2018-11-05 12:49] pepibumur commented on #344
cc @yonaskolb

[2018-11-09 05:22] idi888 opened #346 "Open Project, Do Nothing, Write Project - Corrupts Project"
I was working on a simply program to adding a dependancy to target project, and my project keep getting corrupted.

So I just tried to simply open, write  and I got the same error
What am I doing wrong?

[code]
![screen shot 2018-11-09 at 4 18 13 pm](https://user-images.githubusercontent.com/8197402/48244801-95122d80-e43b-11e8-8224-15d57c7f9158.png)

[2018-11-09 13:52] pepibumur commented on #346
Hey @idi888, thanks for reporting this. Could you share the `git diff` after executing those three lines? That would help us understand what might have got corrupted in your project, and see if there's anything we need to fix in xcodeproj.

[2018-11-16 02:10] toshi0383 opened #348 "OSLogger performance consideration"
I noticed that `OSLogger` is potentially losing a built-in optimization from `os.signpost`.
[code]
https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Utils/OSLogger.swift

- `CVarArg...` causes unwanted memory allocation of an array each time.

In WWDC 2016, Apple says "do not create a wrapper for `os_log` family functions". Maybe it applies to `signpost` too.
<img width="993" alt="s

[2018-11-16 02:14] toshi0383 commented on #348
`closure` is not escaping, therefore is inlined, so that part is okay.
Maybe adding `@inline(__always)` worths it, but profiling normally happens with Release builds, so it's not mandatory.

[2018-11-16 09:03] pepibumur commented on #348
Thanks for bringing this up @toshi0383.

We can get rid of the wrapper and use the API directly from the places where we log stuff. Not sure what implications it has but if Apple suggested it, they must be doing some optimizations that we are not aware of.

[2018-11-16 09:46] toshi0383 commented on #348
My college @inamiy came up with this wrapper function. This way we don't waste memory. Maybe it worth trying it. 👌

[code]

[2018-11-16 09:54] pepibumur commented on #348
That's a good idea @inamiy. Feel free to open a PR with the change. Otherwise, I can tackle it myself next week.
Thanks for helping to improve the library @toshi0383 🚀

[2018-12-02 10:29] jpsarda opened #349 "[Question] how to add en embed binary (framework) ?"
## Context 🕵️‍♀️
It's not an issue, I'm trying to understand what is possible to do with xcodeproj.
I have a project with MANY targets (more than 100). Sometimes I create a new framework, and I need to embed the framework by hand on all targets,. It takes dozens of minutes.
Illustration :
[https://developer.apple.com/library/archive/technotes/tn2435/_index.html#//apple_ref/doc/uid/DTS40017543-CH1-

[2018-12-07 01:20] mxcl opened #352 "Referencing targets in other projects"
I am trying to add dependencies to targets in separate projects.

This doesn't appear to be possible. Specifically the `containerPortal` for the `PBXContainerItemProxy` needs to point to the `PBXFileReference` for the separate project. But `PBXContainerItemProxy` can only have its `containerPortal` set to a local `PBXProject` object.

My question is, is this possible and I’m just doing it wrong?

[2018-12-07 09:48] pepibumur commented on #349
Hey @jpsarda. Thanks for bringing this up. Unfortunately, we haven't done much work in documenting common use cases of `xcodeproj`. In fact, I have planned to write a blog post with some examples that show how to use xcodeproj and how Xcode projects are structured.

Answering your question. Yes, it's possible to do everything that you can do with Xcode, but you need to understand a bit of the stru

[2018-12-07 11:33] jpsarda commented on #349
Thank you, very helpful indeed. How can I be notified of your blog post ? I'm interested in an hello world example. I'm not sure yet how to use the tool, it's swift based but it's to be used in scripting mode and not to be used in Xcode, right ?

[2018-12-07 11:59] pepibumur commented on #349
Exactly, you need to implement your own command line tool that makes use of the library. You can follow the [Tuist blog](https://tuist.io). I plan to write it on Christmas.

[2018-12-10 10:03] pepibumur commented on #352
Although it uses references internally the public interface requires you to pass a `PBXProject` instance. That means the project needs to [be part of the projects attribute](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/Project/PBXObjects.swift#L6).

If the project is already there, just pass that reference, otherwise, you need to add it first.

[2018-12-10 17:39] mxcl commented on #352
Thanks, that got me further, I wasn't adding the project before, I'm still having trouble however, I have this:

[code]

I have tried a few other things, to no avail. The resulting pbxproj lacks the `PBXContainerItemProxy` which seems the only thing wrong when I test doing it with Xcode manually like you suggested.

Thanks again.

[2018-12-10 17:42] mxcl commented on #352
I tried adapting `PBXNativeTarget.addDependency` so it can take a `project:` parameter then passing `cakePBXProject`, but it gave the same result.

[2018-12-11 13:10] pepibumur commented on #352
I think I found the issue. When you run the following line, you get a `PBXFileReference`:

[code]
That reference should be added to this [attribute](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/Project/PBXProject.swift#L71) and the `PBXContainerItemProxy` should be initialized with it. That means that the [`containerPortal` attribute](https://github.com/tuist/xcodeproj/

[2018-12-11 15:55] mxcl commented on #352
Yes, this makes sense, looking for a way to get the `PBXFileReference` into the `PBXContainerItemProxy` is the reason I initially made this post.

Once I added the PBXProject for project-b to `PBXProject.projects`, the resulting `.pbxproj` *does* contain this, including a correctly populated hidden “Products” group.

[2018-12-11 15:57] mxcl commented on #352
I can make the PR here though I find your instructions a little unclear:

If the proxy type is reference, then the type of containerPortal should be PBXProject

I assume you mean `.nativeTarget` for the first one.

And I'm still unclear about how `PBXNativeTarget.addDependency` would work.

[2018-12-11 16:53] pepibumur commented on #352
Sorry for not being clear enough:

Yes, that's what I meant. I think `type` indicates the type of object that `containerPortal` refers to.

The [PBXNativeDependency.addDependency](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/Targets/PBXNativeTarget.swift#L80) method works only for dependencies between targets in the same project. In that case, `containerPortal` refers t

[2018-12-11 19:15] mxcl commented on #352
K that makes sense. Thanks, I'm traveling tomorrow but will try to get this done soon. I need the feature after all, so I have good motivation! Thanks for the help.

[2018-12-12 03:54] kdbertel opened #355 "Add a "Run Script" phase"
## Context 🕵️‍♀️
I am working on another project that uses SPM, and I want to apply SwiftLint inside of that project. Given that I already have a bash script to re-generate the `xcodeproj` (and do some other administrative tasks at the same time), what I want to do is include something in that bash script that can go into the generated `xcodeproj` and include a `Run Script` phase at the end that w

[2018-12-12 03:58] kdbertel commented on #355
Naturally, right after I post this, I find `PBXShellScriptBuildPhase`. Sigh.

[2018-12-12 04:05] kdbertel commented on #355
(I am not, however, so far able to figure out how to append that to the phases and save and have it persist)

[2018-12-12 09:56] pepibumur commented on #355
You are in the right direction. So what you need to do is:

1. Create an object of that type.
2. [Add it to the project](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/Project/PBXProj.swift#L132)
3. Add it [to the target](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/Targets/PBXTarget.swift#L22).

It should show up pin the list of build phases o

[2018-12-12 09:59] pepibumur commented on #352
Awesome! Thanks for taking your time to do it. We tried to figure out the types and structure of the projects by just changing things in the projcects and looking at the diffs. We fixed many issues in the past but it seems there are still some. I'm glad that you found one of those.

[2018-12-12 14:38] kdbertel commented on #355
Aha, I was missing that I had to add it to both the project and the target. That's a little unintuitive, but probably has to do with the actual underlying project structure?

[2018-12-12 18:15] mxcl commented on #352
K so it works with a trivial change:

https://github.com/mxcl/xcodeproj/commit/98936007cf8346b9118175e12b35224bf7b2a4c7

Seemingly everything else necessary was already implemented.

I will improve the API documentation for this change before submitting the PR, unless you have any concerns.

[2018-12-12 20:34] kdbertel commented on #355
For what it's worth, my problem has been solved. This issue can be closed unless we want further discussion on future API directions

[2018-12-13 15:31] pepibumur commented on #352
I'm glad that the trivial change helped. No concerns from my side so feel free to open up that PR.

[2018-12-13 22:38] kdbertel opened #356 "Editing the run phases affects schemes"
## Context 🕵️‍♀️
This is a continuation of #355. I am trying to write a Swift CLI that will add a build phase to run SwiftLint on an arbitrary target in an arbitrary project.

## What 🌱
I have been able to add the phase, and have that show up and run in Xcode. However, it appears that something in the save is not also saving the scheme correctly. In some instances, the scheme disappears entirely f

[2019-01-03 17:54] mxcl commented on #352
Just to update here: I have made this work in my fork and will PR as soon as I am able.

[2019-01-04 12:08] pepibumur commented on #352
That's fantastic. Sorry that I couldn't answer your previous comment, too many things happening during Christmas. I'm looking forward to seeing that PR landing. Thanks for taking your time to improve xcodeproj.

[2019-01-04 14:03] johndpope opened #358 "Is it possible to specify UseModernBuildSystem - false?"
## Context 🕵️‍♀️

related
https://github.com/yonaskolb/XcodeGen/issues/470

https://stackoverflow.com/questions/51205221/how-can-i-use-the-legacy-build-system-with-xcode-10s-xcodebuild

## What 🌱
n/a

## Proposal 🎉
n/a

[2019-01-04 14:09] johndpope commented on #358
related https://github.com/yonaskolb/XcodeGen/issues/470

[2019-02-02 04:56] #352 closed

[2019-02-02 05:09] pepibumur opened #363 "Explain in the README how to use xcodeproj using swift-sh"
## Context 🕵️‍♀️
[swift-sh](https://github.com/mxcl/swift-sh) makes it easier to run Swift scripts with dependencies. It's a very convenient tool for developers that want to automate certain tasks in their projects using Swift, and they'd like to use xcodeproj as a dependency. cc @mxcl

## What 🌱
Add a new sub-section in the README that explains how to use `xcodeproj` with swift-sh.

[2019-02-02 16:14] mxcl commented on #363
Nice idea, I can tackle this if you’d like?

[2019-02-03 10:08] pepibumur commented on #363
Go ahead 😛

[2019-02-04 12:51] #363 closed

[2019-02-18 10:53] pepibumur opened #369 "Replace Codable with a more performant alternative"
## Context 🕵️‍♀️
As suggested [on this issue](https://github.com/tuist/xcodeproj/pull/365), Swift's `Codable` is not the most performant option for parsing the project plist file. Despite having introduced some improvements in that PR, there's still space for improvement.

## What 🌱
Evaluate the available options and replace Codable with he one that provides the best performance. There are compani

[2019-02-18 11:34] CognitiveDisson commented on #369
I tried to use [DictionaryCoding](https://github.com/elegantchaos/DictionaryCoding) and deleted the extra conversion of dictionaries into raw data. But the results only got worse. (from 3 seconds to 9 seconds)

I also made a small dictionary extension error that reduces performance. I will fix this in the next  PR.

I'll think about how to add measurements tests to catch regressions.

[2019-02-18 15:27] pepibumur commented on #369
Sounds reasonable @CognitiveDisson. Thanks for putting effort into making xcodeproj more performant 🙏

[2019-02-18 18:58] thedavidharris commented on #296
I was working through this a bit. Some of these issues are workable, some will take some bigger rethinking.

The `os.signpost` issue is just for logging, so wrapping all those references with an `#if os(macOS)` works fine, for some reason `canImport` doesn't seem to work with SPM.

I was able to just copy the PlistSerializer file from Foundation and seems to compile fine as long as you add in an e

[2019-02-18 19:19] mxcl commented on #296
I'm pretty experienced with doing Swift on Linux on Travis, so ask if you need help. I'm not familiar with Circle though.

[2019-02-18 20:00] thedavidharris commented on #296
Will probably take you up on that @mxcl! I'm familiar with Circle, not terribly difficult to spin up a Linux job using the Swift Docker image on it.

Weirdly, most of the difficulty is around all the `isEqual` functions. I'll at least get as far as I can and potentially throw up a draft PR when I've got some time later this week.

[2019-02-18 21:55] jcampbell05 commented on #369
Not sure if there is a native version but this is what cocoapods uses https://github.com/CocoaPods/Nanaimo if you want to port it

[2019-02-18 22:31] thedavidharris commented on #296
Poked around a bit more, last remaining thing looks like finding a replacement for  NSPropertyListSerialization that will work on Linux since `PropertyListSerialization` doesn't seem to port to Linux yet.

[2019-02-18 22:56] pepibumur commented on #296
Sorry I haven't posted any updates here. The last time I gave this a try I managed to solve the issue of `PropertyListSerialization` not being available on Linux. I copied the implementation of the serializer over to the project and the compiler seemed happy about it.
Moreover, I had to add some macros around [this class](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Utils/OSLog

[2019-02-18 23:13] thedavidharris commented on #296
The macros around logging are fine, some stuff around a String/CVarArgs thing (not sure if this was ever fixed on Linux) but probably can be fixed with an overload.

Copying the implementation works fine for `PropertyListEncoder` and `PropertyListDecoder` but not for `PropertyListSerialization`, although it does look like the functionality is there in the swift-corelibs-foundation implementation?

[2019-02-19 01:05] thedavidharris commented on #296
Unfortunately it's the changes in this guy: https://github.com/tuist/xcodeproj/pull/365/files#diff-acb4ac63a93e60e6a26182f29ed8c02cR84 that are making this more difficult.

Was able to cover all the other errors here: https://github.com/thedavidharris/xcodeproj/commit/0251a7837727bf231ee5277b861316a36f3b2ef7. Tests still pass, although I need to verify that removing all the NSObject/isEqual behavi

[2019-02-19 08:27] CognitiveDisson commented on #296
Perhaps you can use some alternative PropertyListSerialization.
For example [SWXMLHash](https://github.com/drmohundro/SWXMLHash) or [Kanna](https://github.com/tid-kijyun/Kanna)

@thedavidharris  I can fix some issues for Linux support. Where exactly are the problems?

[2019-02-19 11:08] pepibumur commented on #296
It'd be awesome if you could give a hand to @thedavidharris to make a choice on the serialisation library. Looking at the ones that you shared I'd avoid Kana because [it requires](https://github.com/tid-kijyun/Kanna#swift-package-manager) some libraries being available in the system. That makes the usage of the library a bit inconvenient.

Another interesting area to tackle given that we are doing

[2019-02-19 14:17] thedavidharris commented on #296
Might be best to just consider Linux compatibility when addressing https://github.com/tuist/xcodeproj/issues/369 and that could replace some of the problematic code.

@CognitiveDisson I put up a draft PR at https://github.com/tuist/xcodeproj/pull/370 if you're willing to take a look. Not content with the current cleanliness of it, but it at least shows how to address most of the issues if you have

[2019-02-25 10:56] danilsmakotin opened #374 "Xcode modify attributes for added groups and files in pbxproj"
Hi everyone. I use methods of PBXGroup extension `addGroup` and `addFile` for adding a generated source files and an assets to my project:

[code]
The above sample of code produce a result like this in `pbxproj`-file:

[code]

But after changing project file in Xcode, for instance after adding new file manually, Xcode modify it:

[code]

Xcode has removed `name` and `lastKnownFileType` attributes.

[2019-02-25 11:59] danilsmakotin commented on #374
The second problem is that method `func group(named name: String) -> PBXGroup?` doesn't found groups was created by Xcode, because they have only `path` attribute without `name`.

[2019-02-25 13:13] pepibumur commented on #374
Hi @danilsmakotin, thanks for opening this issue. Answering to the issues that you reported:

That's probably what has happened. One question, even though Xcode adds some extra attributes, is the approach using `xcodeproj` working? Optionally you can add the file to the group yourself without using that method. The group exposes a public attribute, children, that you can use for that.

We can modi

[2019-02-25 14:19] danilsmakotin commented on #374
@pepibumur thank you for your response.

Now I'm trying to solve a few problems like this one, but in generally this approach works. It's really cool =) I will try applying your advice about manual manipulating with a group's children.

Yes, I'm interesting. I will try to create a pull request soon.

[2019-02-25 18:04] danilsmakotin commented on #374
It seems like modification of `children` doesn't works correctly now.

I've changed

`group.addGroup(named: "Generated")`

to
[code]

After that if I add files to `newGroup` I will get `PBXObjectError.orphaned`.

The following draft of `children`-setter fixes it, but I'm not sure about performance. Also we need to delete a references that was removed from `children`, not only add

[code]

Maybe Is

[2019-02-27 00:45] pepibumur commented on #374
It's the second time I see this issue being reported so a good indicator of things that we could improve on the API. You are getting the error because you didn't add the group that you created to the project. Try changing your lines to:

[code]

[2019-02-27 02:33] pepibumur opened #376 "Initialize objects from parent objects"
## Context 🕵️‍♀️
A pattern that I have seen when developers use the library is that they create new objects and forget to add them to the `pbxproj`. As a result, the write fails because those objects are not attached to any project.

## What 🌱
I think we can improve the API to codify that requirement so that developers don't need to think about that. CocoaPods' xcodeproj does it like that and

##

[2019-02-27 02:34] pepibumur commented on #376
What do you think about the idea of making the object constructors internal @yonaskolb?

[2019-02-27 17:01] danilsmakotin opened #377 "Again adding of files to PBXBuildPhase"
## Context 🕵️‍♀️

My code:
[code]
That works fine when I add a file to a target first time. But for files which already added to the target this code add them again.

## What 🌱

[code]

I think that first line of this method has a typing error. I've changed it to
`if let existing = files.first(where: { $0.fileReference == file.reference })`
and it works correctly now.

If this is a new issue I can

[2019-02-27 19:20] ileitch opened #378 "Cannot initialize PBXProductType from invalid String value com.apple.product-type.app-extension.intents-service"
## What 🌱
When opening a project with a Siri message intent:

[code]

[2019-02-27 21:41] yonaskolb commented on #376
I like the sentiment but I’m not sure about this:
- removing the initializers is a huge breaking change for users
- addition of lots of duplicated and hard to maintain parameters
- the project that these get added to has to then live in each parent somehow. How is memory handled there?

To me this is a sign that the documentation needs to be improve

[2019-02-27 21:42] yonaskolb commented on #376
All that said I’m not totally against the idea

[2019-02-28 00:31] pepibumur commented on #377
Nice catch, that's definitively an issue. Your fix looks good so feel free to push it and open a PR.

[2019-02-28 00:45] pepibumur commented on #376
It is definitively a breaking change, but we can leverage deprecation annotations to give users some time to migrate.

Agree. I wish we could do some metaprogramming here to save some code.

That's already handled. Objects that belong to a project have a weak reference to the project objects so they can manipulate them.

Agree. We definitively need more documentation for people to know how to use

[2019-02-28 16:15] BobDeKort opened #381 "Can not write project "you don't have permission to access it""
Hello there,

I just started using the library for a personal project and to learn mac os development.
## Context 🕵️‍♀️
The goal of the project is to select an xcode project, select some files somewhere on you computer and then add those files to the Xcode project in a group.

Currently I'm just trying to add a new empty group to the project using the following method:

[code]

## What 🌱
The issue

[2019-02-28 17:33] mxcl commented on #381
Since you are using a relative path are you sure about your current-working-directory?

[2019-03-01 03:12] pepibumur commented on #381
Hey @BobDeKort the code that you added looks good to me. What I suggest you to do is trying to run that code from a script or Swift package. You can use @mxcl's [swift-sh ](https://github.com/mxcl/swift-sh) to link your script against the xcodeproj dependency.

Looking at the error, I think the problem might be in the permissions that the app has over the user's directory. If the script works, the

[2019-03-01 03:13] pepibumur commented on #381
I created a new macOS app project, and **Sandbox App** is enabled by default:

<img width="709" alt="image" src="https://user-images.githubusercontent.com/663605/53613962-08d07580-3ba6-11e9-84fc-928b6f11c873.png">

Try disabling it and running your app again. Let me know if it works :)

[2019-03-01 03:14] #377 closed

[2019-03-01 03:15] #378 closed

[2019-03-01 03:47] pepibumur opened #382 "Add documentation"
## Context 🕵️‍♀️
The project doesn't have documentation at all. That makes it hard for developers to start using the project since they have to figure out how things work themselves.

## What 🌱
Add the following documentation pages:
- How Xcode projects are structured.
- Adding and removing objects from a project.
- Usage examples.

[2019-03-01 12:05] BobDeKort commented on #381
Hey pepibumur,

Thanks for the fast response.
It seems like that was part of the issue.
I didn't disable App sandbox but I set the "File access> User Selected File" to "read/write"
Now I don't get any error back, but it doesn't add the group either.

I have a busy day at work today so will have a further look in the weekend.

[2019-03-01 13:54] pepibumur commented on #381
Great to see that we have figured out one thing. I think the second issue that you mention happens because you are not adding the group to any other existing group. If you don't do so, you end up with a project that contains a group that is not reference by anyone.

If your goal is to add the group to the root directory, you can do something like this:

[code]
Keep in mind that Xcode will expect y

[2019-03-05 07:31] mengxiangyue opened #385 "Indent can be improved"
## Context 🕵️‍♀️
the sections content between `/* Begin XXX section */` and `/* End PBXBuildFile section */` dont have tab after modifying it to write into `project.pbxproj`. So causes many diffs in git.

## Proposal 🎉
I learn it, and find you create new `var tmpStateHolder = StateHolder()` and dont set the `indent` property in `PBXProjEncoder.swift` (line 323). It works well after i set the value

[2019-03-06 09:57] mengxiangyue commented on #385
you can try it by using `https://github.com/mengxiangyue/TestFramework`, then you can run the `command-tool` project, then you will get these below diffs:
![image](https://user-images.githubusercontent.com/1563329/53872436-39e2f700-4039-11e9-9e50-c28fac1f9bc3.png)

[2019-03-06 14:19] mxcl commented on #385
I’ve been seeing this too, sorry for the lack of a report, it didn’t occur to me that it was a bug for some reason.

[2019-03-08 14:40] andymartinwork opened #389 "Removing files from sources build phase"
I've been adding files to the source build phase with the following code:

[code]

When I try to remove a file from the build phase, I notice that there is no `remove` method in PBXBuildPhase. Does this mean it's not possible to remove files?

[2019-03-08 17:08] pepibumur commented on #389
Hi @andymartinwork,
You can remove the file from the build phase removing it from [this mutable attribute](https://github.com/tuist/xcodeproj/blob/master/Sources/xcodeproj/Objects/BuildPhase/PBXBuildPhase.swift#L15). Don't forget to remove the file from the project as well if you don't want it to be in the project anymore. Would you mind trying it and letting me know if it works?

[2019-03-11 10:29] jcampbell05 commented on #376
I think with something like this these methods could just be sugar to codify and remove steps for developers who just want to generate a project. But for those whom know what they are doing or may want to tackle it a different way can drop down to the raw initializers.

[2019-03-11 14:41] mxcl commented on #376
I approve, I made myself a facade layer for using tuist/xcodeproj in [@mxcl/Cake] which does this, however the suggestion sounds like a v7 change, and thus it could be more breaking with the goal of improving the API.

If it only supports one I feel the API would be clearer if it is was a property that you set rather than a method named `addFoo`, then it is clear if you set it *again* that the pre

[2019-03-11 16:51] pepibumur commented on #376
Exactly. It'd make the process of adding more objects more convenient.

I like this idea. Do you think we should remove the object from the project in that case?

Interesting, I haven't experienced that myself but it's a totally valid point of view. Would you mind opening an issue with the methods/areas where you think it was confusing seeing a method throwing? I might have designed the API keepin

[2019-03-11 18:44] mxcl commented on #376
I think frankly, yes that will be necessary, so possibly, if it's too hard for `tuist/xcodeproj` to do we may have to rethink it. I say yes because it seems quite a burden to expect a consumer of the library to know for sure if the previous object had more than one reference or not. If you imagine a large amount of usage spread over multiple functions.

[2019-03-12 06:47] pepibumur commented on #376
Agree. It won't be straightforward though because we'd need to traverse the object that might reference the object being deleted.

Awesome :). Thanks for bringing up your experience using the library. It's very valuable 😃

[2019-03-13 07:20] IgorMuzyka commented on #356
@kdbertel have you resolved this issue in some way? Trying to do exactly the same and yeah schemes are changed in a way that xcode sees none.

[2019-03-13 07:47] IgorMuzyka commented on #356
Yo @kdbertel managed to solve this easily.
Just traced what mutates schemes and they are rewritten in `write` method of `XcodeProj`.
Since i have no need change the scheme i considered that i only need to use `writePBXProj` method of `XcodeProj`. Like so:
[code]

Still there might something wrong with `XcodeProj` wiping out schemes in project on write.

[2019-03-13 09:30] pepibumur commented on #356
First of all, I recommend you doing what @IgorMuzyka suggested. If you are not modifying the schemes, you should write only the `pbxproj` for performance reasons.

From your description though, it seems there's a bug in how schemes are written. Would you mind attaching an example project where you can reproduce the issue? I'd like to investigate this further because the write of scheme should prod

[2019-03-13 14:25] kdbertel commented on #356
To the best of my knowledge, I'm not actually modifying the schemes in any way. Is there a significant difference between `.write()` and `.writePBXProj()`?

I am still able to reproduce the issue when running against my actual project. Annoyingly, it doesn't seem to crop up when I'm trying to reproduce it in a smaller example. But I'll keep trying to find something.

[2019-03-13 14:32] pepibumur commented on #356
- `write` writes the whole project. That includes the pbxproj, schemes, workspace and breakpoints. You can find the implementation [here](https://github.com/tuist/xcodeproj/blob/2b1c9bafb5cc4c39c61de740c916b7676b17be9d/Sources/xcodeproj/Project/XcodeProj.swift#L113).
- `writePBXProj` only writes the `pbxproj` which is the instance that contains the project structure.

Since you are only modifying

[2019-03-13 14:32] kdbertel commented on #356
Naturally, as soon as I post about not being able to reproduce it, I'm able to find steps to reproduce.

Attached is my `AddLinting` project.

Steps to reproduce:
1. Unzip `Archive.zip` and `cd` into it
2. On the command line, run `swift build -c release -Xswiftc -static-stdlib`
3. `cd Something; swift package generate-xcodeproj; cd ..`
4. `.build/release/AddLinting "Something/Something.xcodeproj/

[2019-03-13 14:36] kdbertel commented on #356
It does appear that moving to `writePBXProj()` solves the issue; the thing I uploaded got halfway there, but then I forgot to delete the other `write()` line 😅

[2019-03-13 19:40] IgorMuzyka commented on #356
@kdbertel if you are looking to integrate build phases in xcode generated by SPM here you go my [solution](https://github.com/IgorMuzyka/phase) created today.
I use it like this in my Package.swift of the repo:

Add this to dependency section of `Package.swift`:
[code]

And then at the bottom add of `Package.swift` define your build phases like this:
[code]

Will improve Readme sometime later.

[2019-03-14 09:48] makleso6 opened #390 "Can not add file to frameworks build phase"
Hi! Thanks for great lib
I am trying to add static library ("libcurl.a") to frameworks build phase

works in Ruby
[code]

Does not work in swift

[code]

where is my mistake?

[2019-03-14 09:52] makleso6 commented on #390
![issue](https://user-images.githubusercontent.com/9068221/54347389-fcddbc80-4657-11e9-9faf-bffe4dd89017.png)

[2019-03-14 09:53] makleso6 commented on #390
also scheme is broken

[2019-03-14 13:51] mxcl commented on #390
Check your optionals, catch your errors.

[2019-03-14 16:29] pepibumur commented on #390
Hi @makleso6 👋

The library expects you to add the file reference to the project and to an existing group. You were close to get it right 😛:

[code]

As opposed to the Ruby's xcodeproj, the API expects the developer to define all the modification steps themselves. Would you mind trying that out?

Could you be more concrete about what you mean with that?

[2019-03-14 17:01] Dschee commented on #385
I'm seeing this exact same issue in [this tool](https://github.com/JamitLabs/Accio) I'm working on right now. Would be great if this got fixed soon!

[2019-03-14 18:40] pepibumur commented on #385
Found the issue. I've started fixing it on [this PR](https://github.com/tuist/xcodeproj/pull/391). Thanks to the test that I added I found out that there are issues with schemes and workspaces as well. I'll fix all of them and then merge the branch.

[2019-03-14 18:41] pepibumur commented on #385
By the way, really cool idea @Dschee. Happy to see xcodeproj helping you making it real 😛

[2019-03-14 19:53] kdbertel commented on #356
@IgorMuzyka That's a clever solution!

Though I wish that (among other things) the SPM package manifest already included this sort of functionality.

[2019-03-15 05:52] makleso6 commented on #390
Thanks for answers! Resolved 👍

[2019-03-15 05:54] makleso6 commented on #390
Create extension for PBXProj
[code]
Then add file to frameworks group and add file to each target
[code]

[2019-03-15 06:01] makleso6 commented on #390
I'll try to patch project created via swift package manager
after apply patch there are not schemes

You can try it
1) Create project with SPM
2) Dont open project in Xcode
3) Create XcodeProj instance and save it immediately

[code]

[2019-03-15 07:55] Dschee commented on #385
Yes, it was much easier to accomplish thanks to xcodeproj. But there are two more things I noticed and I‘m not sure if these are tracked in issues yet (I could open them if not):

1. The xcodeproj generated identifiers when I add new files or geoups in my projects are longer than the ones generated by Xcode itself (32 vs 24). Why is that?

2. Why doesn‘t the project adhere to the community standar

[2019-03-15 10:37] pepibumur commented on #385
We [are using md5](https://github.com/tuist/xcodeproj/blob/2b1c9bafb5cc4c39c61de740c916b7676b17be9d/Sources/xcodeproj/Utils/ReferenceGenerator.swift#L298) which generates 32 characters. Would you mind opening an issue for this one?

There's no real reason for it. We set `xcodeproj` as a name and sticked to that. I personally don't think it's a big deal. If you believe the opposite, feel free to op

[2019-03-15 10:38] pepibumur commented on #356
FYI, I'm fixing this issue on [this PR](https://github.com/tuist/xcodeproj/pull/391)

[2019-03-15 10:40] pepibumur commented on #390
Thanks @makleso6. I'm fixing the error that you reported on [this PR](https://github.com/tuist/xcodeproj/pull/391). Apparently, there was a bug in the writing logic that caused the output project to be different.

Also a comment on this issue, I plan to work on making the API less verbose so some of the steps that you had to do here won't be necessary anymore.

[2019-03-15 10:40] #390 closed

[2019-03-17 01:10] Dschee opened #392 "Change generated identifiers length to 24 (like Xcodes)"
The xcodeproj generated identifiers when I add new files or groups in my projects are longer than the ones generated by Xcode itself. Specifically they are 32 characters long instead of 24 like Xcode's own identifiers. This looks really weird and should IMHO be streamlined.

[2019-03-17 01:14] Dschee opened #393 "Use upper camel case for project module name"
Currently when importing this project, the code looks like this:

[code]

This looks very weird amongst other import statements that all adhere to the community standard of using upper camel casing for the project name. Thus I suggest renaming at least the module name to `XcodeProj` on the next major release.

Since it should be a simple case-sensitive search and replace for any users of this proj

[2019-03-17 01:15] Dschee commented on #385
@pepibumur Thank you for your answer. I just opened #392 and #393 to track both issues.

[2019-03-17 11:24] pepibumur commented on #385
Thanks @Dschee very appreciated 🙏

[2019-03-27 14:38] codwam opened #394 "How to add folder in project(V 6.6.0)"
## Context 🕵️‍♀️

ProjectName
 -- Main
 -- Sources
       -- AAA(New folder to added)
           -- BBB.h
           -- BBB.m
           -- CCC.h
           -- CCC.m
  -- Supporting Files
       -- main.m
## What 🌱

I have seen the previous problem, but did not solve it.

`
           let xcodeproj = try XcodeProj(path: projectPath)
// find your existing group
            let existingGroup = xcode

[2019-03-27 17:38] pepibumur commented on #394
Hey @codwam, thanks for reporting this. Would you mind attaching an example project with the Swift code that you execute? It'll be easier to debug the issue there and diagnose what exactly is happening.

[2019-03-27 21:56] kwridan opened #395 "`XCBuildConfiguration` helper method to append settings"
## Context 🕵️‍♀️

Recently while working on Tuist, I found myself writing a small helper extension on `XCBuildConfigruation` to append build settings without overriding or overwriting existing settings.

e.g.

[code]

The helper internally checks for an existing setting with the same name and appends the provided value if found, otherwise sets `$(inherited) <value>` to ensure settings from other l

[2019-03-28 02:57] codwam commented on #394
Sorry I can't give you, but I can provide more information.

### Part of the folder information:
[code]

### What I want to do is:

Add files below the AAA folder to the Sources folder.

### The code I added is:
[code]

### The effect of the code is:

[code]

### Missing part of it???
[code]

Is there a problem with my code?
Can you give me a reference code?

[2019-03-31 10:30] #356 closed

[2019-03-31 10:30] #385 closed

[2019-03-31 13:04] pepibumur commented on #344
Closing this one in favor of https://github.com/tuist/xcodeproj/issues/392

[2019-03-31 13:04] #344 closed

[2019-03-31 13:05] pepibumur commented on #236
@Lancelotbronner would you mind trying with the latest version of the library?

[2019-03-31 13:05] #302 closed

[2019-03-31 13:05] pepibumur commented on #312
Closing this one in favor of https://github.com/tuist/xcodeproj/issues/382

[2019-03-31 13:05] #312 closed

[2019-03-31 13:06] pepibumur commented on #346
This should be fixed in the latest version of the library, 6.7.0. If it keeps happening, feel free to open a new issue.

[2019-03-31 13:06] #346 closed

[2019-03-31 13:08] pepibumur commented on #381
@BobDeKort did you manage to add the group?

With the code snippet that I shared with you it should work. I'm closing this issue for now.
If the example doesn't help feel free to re-open the issue.

[2019-03-31 13:08] #381 closed

[2019-03-31 13:10] pepibumur commented on #374
I'm closing this issue because there hasn't been any answer since February 27th. If the example that I shared doesn't help, don't hesitate to reopen the issue.

[2019-03-31 13:10] #374 closed

[2019-03-31 13:11] pepibumur commented on #324
There's nothing else to be done on this issue. Closing it.

[2019-03-31 13:11] #324 closed

[2019-03-31 13:12] pepibumur commented on #349
Hey @jpsarda. Apologies for taking me longer than expected to write something up. Here's the blog post https://ppinera.es/2019/03/15/xcodeproj/ . I hope it helps you better understand how Xcode projects are structured.
For the next major version we plan to add more documentation around it.

[2019-03-31 13:12] #349 closed

[2019-03-31 13:14] pepibumur commented on #219
Integration tests have been removed from the project so this is not an issue anymore.

[2019-03-31 13:14] #219 closed

[2019-03-31 13:18] pepibumur opened #396 "Version 7.0.0"
## Context 🕵️‍♀️
After several iterations of xcodeproj, there's still room for improvement in its API. Developers have shared issues and feedback that we can use to iterate on the 7th major version of the library. On this issue, I'm listing all the improvements/fixes that I think should make it into the next major version:

## What 🌱
- [x]  [**Change generated identifiers length to 24 (like Xcodes

[2019-04-01 11:38] pepibumur commented on #394
@codwam I think you are missing adding the object to the project:

[code]
Adding a group as a child of another group doesn't imply getting the group added to the project as well. Could you try that and let me know if it works?

[2019-04-02 07:58] pepibumur commented on #396
When we publish this version we'll need to make sure that [we let CocoaPods know](https://github.com/CocoaPods/cocoapods-trunk/issues/31) about the deprecation of the `xcodeproj` in favor of `XcodeProj.

[2019-04-02 08:10] #393 closed

[2019-04-02 17:57] #115 closed

[2019-04-22 22:14] llinardos opened #404 "Build phase name is inaccesible from client."
https://github.com/tuist/xcodeproj/blob/12245cbba08c234c2d075a29ad2f42bd8a8d1572/Sources/xcodeproj/Objects/BuildPhase/PBXBuildPhase.swift#L144

[2019-04-22 22:28] llinardos opened #406 "Embed frameworks build phase is hard to access."
## Context 🕵️‍♀️
Trying to embed frameworks in an app target.
What I want to emulate is what happens when you drag and drop the frameworks to the `Xcode/Project/General/Embedded Binaries` section. Or when you click on the + in the same section.

## What 🌱
"Embed frameworks" is a target's build phase, precisely is a "Copy Files" build phase where the destination subfolder is Frameworks. It looks li

[2019-04-24 12:04] #406 closed

[2019-04-24 13:15] llinardos opened #409 "Can't add a (yet) not existent file to a group."
I'm trying to add a reference to a `.framework` that is not created yet. I'm sure the file will exist after compiling the target that generates it. But it doesn't exist yet.

The method [add file in PBXGroup](https://github.com/tuist/xcodeproj/blob/12245cbba08c234c2d075a29ad2f42bd8a8d1572/Sources/xcodeproj/Objects/Files/PBXGroup.swift#151) [check for existence of the file](https://github.com/tuist

[2019-04-29 09:57] gubikmic opened #411 "unsync........?"
Hi, I haven't used this project in a while and see that there were some changes.

I think there should be a comment in PBXObjects.swift giving the rationale behind the unsync name. What's the reason behind this?
Also, why is it called 'unsync'? 'Unsync' is a verb, right? Shouldn't it be the adjective 'unsynced'?!

[2019-04-29 13:17] pepibumur commented on #411
Hey @gubikmic.

That's a totally valid concern. I missed this one when it was introduced, and I agree it's a bit ambiguous. All variables marked with `unsynced` are not thread safe. They are private and its access is serialized using locks.

I'm not quite sure about unsynced either. What about just underscoring the public name? I've seen that pattern in other places. I'm open to suggestions.

[2019-04-29 14:43] azav commented on #411
You are dealing with an abbreviation and “unsync” means unsynchronous (sp?) which is the nature of the action.  I am assuming it is being used as an adjective.  If it were an adverb, it would be unsynchronously. The verb of this is unclear to me, but synchronize is a verb.

Sent from my iPhone

[2019-04-30 04:52] gubikmic opened #413 "Getting xcodeproj via Carthage fails"
Hi, I get an error upon trying to install xcodeproj via Carthage in a new project.
Can someone please check if you also get that error? Thanks!

(Same error when I clone xcodeproj and try to install its dependencies.)

## Context
macOS 10.14.4
git version 2.20.1 (Apple Git-117)
Carthage 0.33.0
Cartfile:

    github "tuist/xcodeproj" ~> 6.7.0

## Result

[code]

[2019-04-30 23:42] pkassonqh opened #414 "Is it possible to set storyboard, related view controller and widgets for views in Xcodeproj ?"

[2019-05-02 17:05] #404 closed

[2019-05-02 17:08] pepibumur commented on #414
Yes @pkassonqh, that's definitively possible. I recommend you start reading the project documentation https://github.com/tuist/xcodeproj/tree/master/Documentation.

[2019-05-02 17:08] #414 closed

[2019-05-03 05:41] pepibumur commented on #409
Hey @llinardos, that's a utterly valid use case.
A PR [was merged](https://github.com/tuist/xcodeproj/pull/410/files) recently modifying the `addFile` method to support overriding existing file. You could do add another argument to support adding non-existing files:

[code]

[2019-05-03 05:41] #413 closed

[2019-05-03 10:06] #411 closed

[2019-05-03 11:34] llinardos commented on #409
Done @pepibumur! [Here](https://github.com/tuist/xcodeproj/pull/418) is the PR.

[2019-05-04 02:00] gubikmic opened #419 "Xcode's git source control features don't work"
Xcode's integrated git source control features don't work with XcodeProj.

## Steps to reproduce
1. Clone XcodeProj (steps 1-3 from README.md)
    1. Git clone the repository `git@github.com:tuist/xcodeproj.git`.
    2. Generate xcodeproj with `swift package generate-xcodeproj`.
    3. Open `XcodeProj.xcodeproj`.
2. In Xcode: View → Version Editor → Show Version Editor

**Result:**

Alternatively:

[2019-05-04 08:42] #409 closed

[2019-05-08 18:46] marcelofabri opened #421 "Allow setting CodeCoverageTargets in XCScheme.TestAction"
## Context 🕵️‍♀️
We want to track code coverage only for a few targets. This is needed for https://github.com/yonaskolb/XcodeGen/issues/569

## What 🌱

`XCScheme.TestAction` should have a `codeCoverageTargets: [BuildableReference]` property.

## Proposal 🎉

Add the property that will be serialized to something like this:

[code]

[2019-05-10 08:18] pepibumur commented on #421
Done  🚀. Bear in mind that we are in the process of doing a major release so you can change XcodeGen to point to a master revision or wait until we release that version. I don't have estimates on when that be though.

[2019-05-20 10:37] damirdavletov opened #423 "Relative path is wrong when referencing file outside of project folder"
## What 🌱
When referencing file higher in folder hierarchy than sourceRoot relative path is calculated incorrectly. e.g. if you have the structure like this:

**/root/Project1/Project1.xcodeproj**
**/root/Project2/Project2.xcodeproj**

And then add **Project2** reference to **Project1** then the path is calculated incorrectly as **/root/Project2/Project2.xcodeproj** while it should be **../Project

[2019-05-20 13:01] #423 closed

[2019-05-20 15:44] #421 closed

[2019-05-21 03:33] toshi0383 opened #426 "[crash] Fatal error: Duplicate values for key"
## What 🌱

xcodeproj crashes if pbxproj has duplicated files in build phase.

version: 6.7.0

## Proposal 🎉

Replace Dictionary initialization method to safer one.
This way we can avoid crash.

[code]

Any concerns on this?

[2019-05-21 09:15] #426 closed

[2019-05-23 13:50] whitesource-bolt-for-github[bot] opened #429 "CVE-2015-5147 (High) detected in redcarpet-3.2.0.gem"
## CVE-2015-5147 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>redcarpet-3.2.0.gem</b></p></summary>

<p>A fast, safe and extensible Markdown to (X)HTML parser</p>
<p>Library home page: <a href="https://rubygems.org/gems/redcarpet-3.2.0.gem">https://rubygems.org/

[2019-05-23 13:50] whitesource-bolt-for-github[bot] opened #430 "WS-2015-0038 (High) detected in redcarpet-3.2.0.gem"
## WS-2015-0038 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>redcarpet-3.2.0.gem</b></p></summary>

<p>A fast, safe and extensible Markdown to (X)HTML parser</p>
<p>Library home page: <a href="https://rubygems.org/gems/redcarpet-3.2.0.gem">https://rubygems.org/g

[2019-05-24 14:43] #430 closed

[2019-05-24 15:35] #429 closed

[2019-05-24 15:37] pepibumur commented on #419
Hey @gubikmic, is XcodeProj the only Swift Package project with which you are experiencing this?

[2019-05-24 15:37] #276 closed

[2019-05-24 16:10] #392 closed

[2019-05-28 14:30] brentleyjones commented on #276
👏

[2019-06-03 01:23] muizidn opened #437 "Conflict framework name with other framework."
## Context 🕵️‍♀️
This project is amazing! Thank you. But unfortunately it has problem since the library it produces have conflicting name with a library produced by https://github.com/apple/swift-package-manager which is XcodeProj and Xcodeproj respectively.

Its seems that Swift module naming is case insensitive.

## What 🌱
When I try to import XcodeProj, compiler emits error `cannot load module

[2019-06-03 02:32] pepibumur commented on #437
Hey @muizidn, we are glad to hear that you find XcodeProj useful. Unfortunately, I don't think the change that you are proposing is feasible. We recently renamed the project from `xcodeproj` to `XcodeProj` and we'd like to keep it like that.

I suggest opening a ticket on the Swift Package Manager side to have better handling of clashing module names. If you are experiencing this with this module

[2019-06-03 02:32] #437 closed

[2019-06-03 13:49] muizidn commented on #437
Ahh, sure. Turns out that I forgot about GitHub fork. Now I just need to point the repository to my forked one. Thank you!

[2019-06-03 22:59] ollieatkinson opened #438 "Add support for Xcode 11 / SwiftPM"
## Context 🕵️‍♀️

Xcode 11 releases swift packages integrated inside of the xcodeproj. This introduces some new types.

I am creating this thread so that we may start collating together all the information needed to support these new types.

----

## Adding a dependency on a package from Xcode:

[code]

[code]

[code]

[code]

[code]

[2019-06-03 23:22] kwridan commented on #438
Version 6.7.0 will error with `PBXObjectError.unknownElement`

[code]

[2019-06-04 09:38] ollieatkinson commented on #438
Here's a diff after adding a SwiftPM project to an XcodeProj and setting it as a dependency on an application target.

[code]

[2019-06-04 15:32] pepibumur commented on #438
Thanks for sharing your findings. I started working on adding support for this.

[2019-06-05 03:58] airfight opened #440 "The project doesn't contain a .pbxproj file at path: /Users/zgy/Documents/Study/ModuleProject/MainApp/MainApp.xcodeproj"
ModifingXcode[16926:905234] [default] Unable to load Info.plist exceptions (eGPUOverrides)
/Users/zgy/Documents/Study/ModuleProject/MainApp/MainApp.xcodeproj
The project doesn't contain a .pbxproj file at path: /Users/zgy/Documents/Study/ModuleProject/MainApp/MainApp.xcodeproj
2019-06-05 11:41:08.941387+0800 ModifingXcode[16926:905257] [default] Unable to load Info.plist exceptions (eGPUOverrides)

[2019-06-05 04:02] airfight commented on #440
let path = Path("/Users/zgy/Documents/Study/ModuleProject/MainApp/MainApp.xcodeproj")
        print(path)

        do {
            let xcodeproj = try XcodeProj(path: path)
            print(xcodeproj)

        } catch let error {
            print(error)
        }

[2019-06-05 09:58] airfight commented on #440
close the sandbox

[2019-06-05 09:58] #440 closed

[2019-06-06 22:06] yonaskolb commented on #438
Adding to this a new product type of `application.watchapp2-container` has been added as well. Linked here https://github.com/yonaskolb/XcodeGen/issues/595

[2019-06-07 01:05] pepibumur commented on #438
Yeah! We have the PR already opened and almost ready to be merged.

[2019-06-07 03:13] yonaskolb commented on #438
Another new feature would be Test Plans

[2019-06-07 15:08] pepibumur commented on #438
Closed this too quickly 😬. Thanks for bringing that up @yonaskolb

[2019-06-07 17:09] keith commented on #438
Here's another awesome Xcode 11 feature it would be nice to support. https://twitter.com/wlisac/status/1136893256543789056

[2019-06-07 17:16] yonaskolb commented on #438
At this point perhaps we should move non SPM related features into their own issues

[2019-06-07 18:00] pepibumur opened #442 "Support Xcode 11 changes"
## Context 🕵️‍♀️
This issue contains all the changes introduced by Xcode 11 that it'd be great to support from XcodeProj:

- [x] Swift Packages
  - Issue: https://github.com/tuist/xcodeproj/issues/438
  - PR: https://github.com/tuist/xcodeproj/pull/439 https://github.com/tuist/xcodeproj/pull/444
- [x] WatchKit containers
	- PR: https://github.com/tuist/xcodeproj/pull/441
- [x] Launch custom comman

[2019-06-07 18:01] pepibumur commented on #438
I [opened an issue](https://github.com/tuist/xcodeproj/issues/442) to list all the work that needs to be done to support the Xcode 11 changes. Feel free to add whatever changes to find out.

[2019-06-07 18:01] #438 closed

[2019-06-10 08:48] antscript opened #446 "Dead lock when PBXObjects.delete"
Call `xcodeProj.pbxproj.delete(object: )` lead to dead lock.

solve:
add
[code]
to **PBXObjects.swift** in **func delete(reference: )** after **lock.lock()**.

[2019-06-10 10:32] pepibumur commented on #446
Thanks for reporting this @antscript. Feel free to open a PR with the fix that you suggested. Otherwise, we can look into it.

[2019-06-10 10:34] #236 closed

[2019-06-10 10:34] pepibumur commented on #389
I'm closing this. If the problem still persists, feel free to create a new issue.

[2019-06-10 10:34] #389 closed

[2019-06-20 19:28] #446 closed

[2019-06-23 07:28] #394 closed

[2019-06-23 07:28] pepibumur commented on #394
I'm closing it since there hasn't been any answer from April first. If you are still experiencing this issue, don't hesitate to open another issue.

[2019-06-23 07:58] pepibumur commented on #419
@gubikmic I'm not able to reproduce this. I was able to follow your steps with no error. Which version of Xcode & git are you using?

[2019-06-23 08:38] pepibumur commented on #348
@yonaskolb are you using the metrics provided by those logs? I'm considering the removal of those logs but I want to make sure you are not using them.

[2019-06-23 08:43] pepibumur commented on #376
I dropped this and reducing the throws issue from the Xcode 7 release, which is taking longer than expected.

Here's an idea for this issue:
- We keep the initializers for those developers that want more fine-control on how objects are created and added to the project.
- We add public methods to objects to create child objects. Those methods only list the arguments that are required for the child

[2019-06-24 10:13] yonaskolb commented on #348
Nope, not using them. Happy to have them all removed

[2019-06-24 16:47] gubikmic commented on #419
Hey, sorry for the late reply!
It still happens with Xcode Version 11.0 beta (11M336w) and git version 2.21.0 (Apple Git-120)

History and source control features do work with `XcodeProj-Carthage.xcodeproj/` though...
It's weird, but since you can't reproduce it, feel free to close it if you want to clean up the open issues.

[2019-06-25 08:43] pbodsk opened #454 "Getting error: "product dependency 'XcodeProj' not found" when using swift-sh"
## Context 🕵️‍♀️
Thank you for making xcodeproj first of all.

I am taking my first steps into the magic world of writing scripts in Swift and hit a minor speedbump when using `xcodeproj` in combination with [https://github.com/mxcl/swift-sh](swift-sh). More specifically it seems as if the rename from `xcodeproj` to `XcodeProj` does not match the naming in `Package.swift` found in the 6.7 release.

[2019-06-25 09:40] pepibumur commented on #454
Exactly @pbodsk. I'll keep this one open for now and close it once we release the new version that includes the rename.

[2019-06-25 09:42] pbodsk commented on #454
@pepibumur Perfect, makes sense. Thanks!

[2019-06-25 16:18] #395 closed

[2019-06-26 04:09] #348 closed

[2019-06-26 04:10] yonaskolb commented on #348
OSLogs removed in https://github.com/tuist/xcodeproj/pull/453

[2019-08-01 06:19] orj opened #466 "The target name XcodeProj has different case on the filesystem and the Package.swift manifest file"
## Context 🕵️‍♀️
When using XcodeProj in Xcode 11 beta 5 and resolving packages.

## What 🌱
The following warnings are displayed:

[code]

## Proposal 🎉
Perhaps the package target name should be `xcodeproj` to match the Git repository name?

[2019-08-02 14:42] pepibumur commented on #466
Thanks for the suggestion @orj. I've renamed the repository. It should be safe because GitHub should redirect to the new name automatically.

[2019-08-02 14:42] #466 closed

[2019-08-13 10:39] yonaskolb commented on #442
I've been adding things above as I find them

[2019-08-13 13:19] pepibumur commented on #442
Thanks @yonaskolb. Highly appreciated 🙏

[2019-08-26 19:07] acecilia opened #467 "How to get the resolved build settings of a target?"
I have been trying to get the resolved build settings value of an xcode project, but seems like it is not implemented. What I am looking for is the equivalent swift function to https://github.com/CocoaPods/Xcodeproj/blob/2ddf36223dfd4753fb765c82408f9cc215ce6f4e/lib/xcodeproj/project/object/native_target.rb#L54

I am trying to get the value of a build setting that is specified in an xcconfig file,

[2019-08-26 20:22] kwridan commented on #467
Hi @acecilia

I don't believe this is implemented - it would certainly be a nice enhancement.

Depending on your use case if you'd like to get the real resolved settings a slightly more heavy weight approach can be using:

[code]

Here's an [example](https://github.com/tuist/tuist/blob/master/Tests/TuistIntegrationTests/Generator/MultipleConfigurationsIntegrationTests.swift#L414) from some of Tuis

[2019-09-07 08:03] #467 closed

[2019-09-16 10:20] penacristian commented on #438
Is there any documentation on how to use this feature?

[2019-09-26 19:37] saormart commented on #419
I also notice that the git even for local source control is not working properly with xcode 11!
I mean, I have a project with 3rd party library using pod, and after I run pod update, and try to commit the changes with the source control, it just looks like committed, but if you try to commit again, all your files from the pod still in there! I notice that I need to do a mall change manually on eac

[2019-09-30 06:29] smeshko opened #484 "Add support for test plans"
## Context 🕵️‍♀️

## What 🌱

## Proposal 🎉

[2019-09-30 08:58] pepibumur commented on #484
Thanks for reporting it @smeshko. I'm closing the issue though because there's already [an issue](https://github.com/tuist/XcodeProj/issues/442) created that includes this.

[2019-10-27 20:11] pepibumur commented on #454
We can already close this issue :)

[2019-10-27 20:11] #454 closed

[2019-10-27 20:11] #396 closed

[2019-11-05 01:38] elliottwilliams opened #498 "XcodeProj's dependency on swift-package-manager breaks dependency resolution for consumers of XcodeProj"
## Context 🕵️‍♀️
In #492, @pepibumur added SwiftPM as a dependency of XcodeProj. In Package.resolved:

[code]

## What 🌱
Unfortunately, this breaks downstream Swift packages that depend on XcodeProj. There's a restriction in SwiftPM that [version-based packages _cannot_ have branch-based dependencies][2].

So if I create a package that declares a version requirement on XcodeProj:

[code]

it'll fa

[2019-11-05 09:00] pepibumur commented on #498
I'm very sorry for that, I was not aware of this restriction and we should definitively work out a solution for this.

Since they don't tag versioned releases, we can find a replacement package for the SwiftPM. We only use one of its utilities from one of the tests to run command in the system. If  we find a package that provides that utility and that is Linux compatible I'd replace it.

Would you

[2019-11-05 09:35] yonaskolb commented on #498
Yes, would be glad to have SwiftPM removed. It’s a very heavy dependency as well

[2019-11-05 10:19] pepibumur commented on #498
It's only dependency of the [test target](https://github.com/tuist/XcodeProj/blob/master/Package.swift#L21) though.

[2019-11-06 08:04] elliottwilliams commented on #498
Sounds good, no worries!

Opened #499

[2019-11-06 09:28] #498 closed

[2019-11-06 09:53] pepibumur commented on #498
[XcodeProj 7.3.0](https://github.com/tuist/XcodeProj/releases/tag/7.3.0) has been released 🚀

[2019-11-06 17:39] elliottwilliams commented on #498
Thanks for the quick turnaround on this!

[2019-11-06 21:08] elliottwilliams commented on #498
One additional wrinkle: The previous versions of XcodeProj that _did_ have SwiftPM can still screw up package resolution. The Package.swift I wrote above works, but if I add XcodeGen 2.10.1:

[code]

it fails again:
[code]

I think this is because XcodeGen @ 2.10.1 [depends on XcodeProj 7.1.0](https://github.com/yonaskolb/XcodeGen/blob/2.10.1/Package.swift#L19), so SwiftPM's resolver has to consid

[2019-11-07 10:25] yonaskolb commented on #442
I believe all these items have been completed. I've updated the description with PR links, and closing this now

[2019-11-07 10:25] #442 closed

[2019-11-13 17:24] imben123 opened #506 "Unable to build as Carthage dependency"
## Context 🕵️‍♀️
When trying to use Xcodeproj as a Carthage dependency.

## What 🌱
Unable to build as a Carthage dependency due to missing framework (`Shell`) referenced in `XcodeProj_Carthage.xcodeproj`

## Proposal 🎉
Based on https://github.com/tuist/XcodeProj/pull/505 I believe that the reference to the missing framework just needs to be deleted.

[2019-11-13 20:34] #506 closed

[2019-11-29 12:15] adirburke opened #509 "Newly Generated Projects creates XCScheme without a BlueprintIdentifier"
I am making a build file in swift to replace my Rakefile but as the subject says a newly generated xcodeproj creates schemes files

I made a simply change in
XCScheme+BuildableReference.swift
[code]

it all works fine.

The aim was to add `environmentVariables` for the development

[2019-12-03 16:30] pepibumur commented on #509
Not sure if I get what you are trying to do. Could you expand on your example?

[2019-12-15 21:47] marciniwanicki opened #512 "PBXBuildPhase type redudancy"
## What 🌱
I spotted `PBXBuildPhase` type is exposed publicly twice in the `PBXBuildPhase.swift`:

- First
[code]

- Second
[code]

I wonder if there is a reason behind that duplication?

## Proposal 🎉
We could deprecate and later remove the `type()` from the extension.

[2020-01-20 16:00] YutoMizutani opened #514 "Add `Ask on Launch` option"
## Context 🕵️‍♀️
The problem has occurred using iOS Share Extension generated by [XcodeGen](https://github.com/yonaskolb/XcodeGen). [This project](https://github.com/YutoMizutani/ShareExtension) has two Schemes App (iOS target) and Share (iOS Share Extension).

## What 🌱
`Share Extension` Scheme was specified first target forcibly and it will be fail. Could not run when it was specified any target

[2020-01-23 13:09] #514 closed

[2020-01-23 13:11] pepibumur commented on #512
Ouch, good catch. I don't see a reason to keep both. Feel free to open a PR adding a deprecation notice to the one that you think is worth deprecating.

[2020-01-28 14:51] pepibumur commented on #382
I'm closing this one since it doesn't seem to be that relevant for the users of XcodeProj. If we see there's sufficient interest in the future, we can re-open it again.

[2020-01-28 14:51] #382 closed

[2020-01-28 14:52] pepibumur commented on #369
Since there hasn't been any comment around this being a performance bottleneck, I think we can close this issue. The only reference to this one is from the Linux compatibility effort, and that's something that has already been addressed in recent versions of Swift which already have support for PropertyList decoders in Linux.

[2020-01-28 14:52] #369 closed

[2020-01-28 14:53] pepibumur commented on #509
I'm closing this issue since there hasn't been input from the author of the issue.

[2020-01-29 00:25] adirburke commented on #509
[code]

Trying to make a small script to re-generate my xcodeproj and then assign my enviroment vars
Its not able to do that as a newly generated (unopened) xcodeproj doesnt have a ```BlueprintIdentifier``` yet

[2020-01-29 08:41] pepibumur commented on #509
Thanks for including the example @adirburke. I'll use that to reproduce and fix the issue.

[2020-02-02 10:47] vytis opened #520 "Add PathRunnable to LaunchAction"
## Context 🕵️‍♀️
As part of https://github.com/tuist/tuist/issues/922 we need to add support to launch any executable from the scheme.

## What 🌱

The setting is found in the run action for the scheme:
<img width="358" alt="Screenshot 2020-02-02 at 11 42 51" src="https://user-images.githubusercontent.com/33914/73607012-2de91780-45b1-11ea-8ac3-9dce3d5114da.png">

## Proposal 🎉
Add `PathRunnable` el

[2020-02-02 22:44] #520 closed

[2020-02-25 23:24] jbuchman opened #525 "Xcode11's platformFilter is ignored in PBXTargetDependency.swift"
## Context 🕵️‍♀️
When writing iOS apps with watchOS target dependencies and also supporting macOS Catalyst, the target's platformFilter in the target dependencies is being ignored when reading and writing project.pbxproj file.

## What 🌱
My app which has watchOS, iOS and macOS/Catalyst components has a target in which the iOS app is compiled. That target includes a dependency on the watchOS target

[2020-03-10 22:00] grigorye opened #528 "For some projects .pbxproj.invalidateUUIDs() on a loaded project results in corrupt .xcodeproj on .save()"
## Context 🕵️‍♀️

Using XcodeProj, I created a [tool](https://github.com/grigorye/xcodeprojFixUUIDs) that enforces deterministic/changes-agnostic content of any given .xcodeproj (just by reading xcodeproj, invoking `xcodeproj.pbxproj.invalidateUUIDs()` and writing xcodeproj). See https://github.com/CocoaPods/CocoaPods/issues/9359#issuecomment-596304535 for the rationale behind creating this tool.

[2020-03-16 22:28] mobileben opened #530 "PreAction scripts are not properly escaped"
I was using `XcodeGen` to build a scheme that contained a PreAction script. I created it using YML which looked like the following (only part of it)

[code]

When examining the results in Xcode, the script occupied a single line. Since it starts with a she-bang, everything was commented out.

In a more simple case

Using a script of

[code]

I would expect that if I look at this the `xcscheme` fil

[2020-04-01 16:22] fenglh opened #534 "Cannot load module 'xcodeproj' as 'XcodeProj'"
hi !

## Context 🕵️‍♀️
[code]

then, i get the error "Cannot load module 'xcodeproj' as 'XcodeProj'"

in the podfile :

[code]

[2020-04-02 08:39] #534 closed

[2020-04-02 16:59] peymankh opened #536 "Version 7.8.0 Removed"
## Context 🕵️‍♀️
Currently a few tools using XcodeProj are failing to be built because version 7.8.0 no longer exists. i.e. Xcodegen

## What 🌱
Version 7.8.0 is removed.

## Proposal 🎉
Is it possible to bring it back?

[2020-04-02 17:06] soffes commented on #536
This broke our build. Had to fork XcodeGen and bump the version there https://github.com/yonaskolb/XcodeGen/pull/822

[2020-04-02 17:08] peymankh commented on #536
@soffes Epic, one step ahead! Was about to make a PR myself now. Thanks a lot.

[2020-04-02 17:10] kikettas commented on #536
Same here with XcodeGen. For the time being, we can roll back to `2.13.0` (that uses Xcodeproj 7.7.0) 👍 Will have a look on that MR @soffes though.

[2020-04-02 23:49] yonaskolb commented on #536
XcodeGen 2.15.1 was just released which uses XcodeProj 7.10.0 to work around this.
Would also like to understand how this happened? 🤷‍♂

[2020-04-03 06:33] pepibumur commented on #536
It should be back up. We ran a command by mistake that ended up causing it.

[2020-04-03 06:33] #536 closed

[2020-04-04 03:13] Ozturk470 opened #537 "Start"
[](https://github.com/micropython/micropython/tree/master)

[2020-04-14 16:26] damirdavletov opened #538 ""Products" group has the same ID for any project"
## Context 🕵️‍♀️
"Products" groups have the same IDs for any referenced project when you add them in parallel. This doesn't cause problems when project reference is added serially because xcodeproj will just increment ID if there is an existing one, but when this is done in parallel branches it causes a conflict that can only be resolved manually with manual ID increment. This caused us several is

[2020-04-15 00:51] yonaskolb commented on #538
HI @damirdavletov thanks for raising. If projects are generated in parallel wouldn't other things aside from the products group theoretically also have the same id, for example file references referencing the same file? Is it worth providing an optional seed for the id generator for cases like these?

[2020-04-15 08:56] damirdavletov commented on #538
Hi @yonaskolb, thanks for looking into this! I didn't see any other issues happening with IDs. File references have different IDs for different files (either path or name differs). For the same file, it is desirable to have the same ID even if added in parallel on separate machines. This way we won't have conflicts if 2 developers add the same project reference for instance.
The problem with **Pro

[2020-04-16 13:05] khoi commented on #419
I briefly looked in to this, and can't reproduce the issue. Xcode `Version 11.4.1 (11E503a)`

[2020-04-20 05:28] khoi opened #541 "Broken CHANGELOG contributing guideline"
## Context 🕵️‍♀️
https://github.com/tuist/XcodeProj/blob/912d40cc2ea4a300eff6dd7c6a10b4f4dedbcbec/CHANGELOG.md#L1

The linked CHANGELOG contributing guideline is broken and I couldn't find the file anywhere.

[2020-04-27 10:28] pepibumur commented on #419
I'll close it then. Feel free to open the issue if it still happens.

[2020-04-27 10:28] #419 closed

[2020-04-27 11:14] pepibumur commented on #541
@khoi we can update the link to point to [these guidelines](https://tuist.io/docs/contribution/changelog-guidelines/)

[2020-04-29 17:38] #541 closed

[2020-05-05 02:26] fenglh opened #544 "“Demo project” is locked for editing and you may not be able to save your changes. Do you want to unlock it?"
## Context 🕵️‍♀️
when add UIKit.framework to Build Phase - Link Binary with Libraries  ,  then i can't modify the project

[code]
## What 🌱
 i get the alert error:
[code]

[2020-06-02 08:03] #538 closed

[2020-06-03 09:21] #525 closed

[2020-06-05 14:59] artemnovichkov opened #552 "Problems with installation"
## Context 🕵️‍♀️
Here is my Package.swift
[code]

## What 🌱
When I run `swift package update`, I see an error in logs:
[code]

Everything is working if I remove XcodeProj dependency.

[2020-06-08 03:32] artemnovichkov commented on #552
Solved by updating PathKit dependency in Stencil.

[2020-06-08 03:32] #552 closed

[2020-07-17 15:43] adamkhazi opened #558 "lastKnownFileType for ttf and sqlite files in pbxproj"
## What 🌱
I noticed that when adding a `.ttf` or `.sqlite` file manually into a project using Xcode 12 Beta 2 it adds a `lastKnownFileType` of `file` in the `.pbxproj` file. I believe this may be missing from Xcodeproj.

## Proposal 🎉
Add this attribute `lastKnownFileType` with value `file` to `Xcode.swift` to support these file types.

[2020-07-21 06:07] #558 closed

[2020-07-21 06:14] pepibumur commented on #544
Hey @fenglh. Thanks for bringing this up. Adding a dependency with a system framework is something that we are already doing [here](https://github.com/tuist/tuist/blob/master/Sources/TuistGenerator/Generator/LinkGenerator.swift#L352) _(for Tuist)_ and that works without causing that error. I'd recommend checking out that implementation and following the same step

[2020-07-21 06:15] pepibumur commented on #544
[This](https://github.com/tuist/tuist/blob/master/Sources/TuistGenerator/Generator/ProjectFileElements.swift#L443) is the step that creates the file reference.

[2020-07-21 06:19] pepibumur commented on #376
I'm closing this discussion since there haven't been activity in a year. If this is still relevant for any of you, feel free to re-open it.

[2020-07-21 06:19] #376 closed

[2020-07-23 09:30] purkylin opened #561 "How to add/remote framework for target"
[code]

Not work, the project filechangs:

[2020-07-23 14:29] adamkhazi opened #562 "`.bundle` explicitFileType Wrong in `.pbxproj`"
## Context / What 🕵️‍♀️
Adding a bundle in Xcode 12 Beta 2 and Xcode 11.5 will add a `.bundle` reference under the `Products` folder. This reference in the `.pbxproj` will have `explicitFileType = wrapper.cfbundle`. Xcodeproj sets this to `explicitFileType = "wrapper.plug-in"` which is incorrect. We can see the `git diff` of what Tuist might generate and what Xcode 11.5 might create below (from th

[2020-07-25 05:43] pepibumur commented on #561
Hey @purkylin. Notice that the file element that you are created must be added to the project. Find the PBXGroup of the directory you'd like to add the file to, and add it as a child.

Let me know if that works :)

[2020-07-28 06:32] fenglh commented on #544
@pepibumur good job! you are the best !

[2020-07-28 06:51] #544 closed

[2020-08-03 11:37] vvnasina opened #566 "How to add Capabilities?"
Is there any way to add the Xcode capabilities?

[2020-08-06 08:34] wangzhijw commented on #419
my Xcode 11.3.1 has the same issue.

[2020-08-18 17:57] #562 closed

[2020-09-07 15:23] fenglh opened #569 "is it the class XcodeProj's method "init(path: Path) " have any problem ?"
## Context 🕵️‍♀️

the code `let xcworkspacePaths = path.glob("*.xcworkspace")` in  the class XcodeProj's  method "init(path: Path) " at line 40  ,  why not use var path's prev path   as the search path for "*.xcworkspace"  ?
[code]

## What 🌱
The `*.xcworkspace` generated by cocoapod is usually in the same directory as `*.xcodeproj` I am interested in this `*.xcworkspace` file, not `*.xcodeproj/pr

[2020-09-08 00:43] #569 closed

[2020-10-09 05:12] jcolicchio opened #574 "Support for StoreKitConfigurationFileReference"
## Context 🕵️‍♀️
Xcode 12 now allows developers to specify a `.storekit` configuration file in the Run options of a scheme

## What 🌱
Let's support `StoreKitConfigurationFileReference` in the LaunchAction of a XCScheme

## Proposal 🎉
I already implemented it, see PR

[2020-10-09 23:26] deatondg opened #575 "PBXProductType missing metal library type"
The PBXProductType enum does not contain a case for "com.apple.product-type.metal-library" used for the new Metal Library targets, so parsing Xcode projects with these targets fails.

[2020-10-21 19:18] #574 closed

[2020-10-28 07:57] #575 closed

[2020-10-28 07:59] #512 closed

[2020-11-08 19:25] carsten-wenderdel opened #588 "How to see instance of .xcodeproj in debugger"
## Context 🕵️‍♀️
I'd like to open a `.xcodeproj` file, parse it and see it's components in the Xcode debugger LLDB.

## Question 🌱
What is the easiest way to see an `XcodeProj` instance in the debugger? Is there something similar to `tuist edit`? Or should I create a Mac project in Xcode and import `XcodeProj` as a dependency?

[2020-11-09 22:30] deatondg opened #590 "PBXFileElement's (and PBXObject's?) implementation of Hashable is incorrect. Equal objects can have unequal hashes."
I chased an issue in one of my projects down to strange behavior of PBXFileElement being used in a Dictionary or Set. I am able to get strange results and also a crash somewhat reproducibly. I have added a test case for this in [my fork](https://github.com/deatondg/XcodeProj) which I'll also put here:

[code]

Essentially, this test makes an array of all PBXFileElements by concatenating the PBXFil

[2020-11-10 23:18] deatondg commented on #590
Not sure why I didn't try testing this before, but I observe this same behavior with `let filesArray = pbxproj.fileReferences` too, so you don't have to type-erase into PBXFileElement or combine the files and groups together for this to be an issue.

[2020-11-10 23:36] deatondg commented on #590
I have narrowed it down significantly. Here is a test which should pass but does not.
[code]
Further, this fails every time I've run it, rather than only crashing sporadically.

[2020-11-11 00:26] deatondg commented on #590
In the cases where this fails (using the Fixture project and one of my own, autogenerated by SPM), there are two files with the same name. In the fixture, the project knows of two Info.plist's, but they are different files with different parent groups. These files are incorrectly determined to be equal.

[2020-11-11 01:19] deatondg commented on #590
I think I've narrowed down the issue to a few possible places.

### PBXFileElement's parent

PBXFileElement has a field `parent` which is not checked in the auto-generated equality method.
[code]
Adding this check makes all my tests pass
[code]
but might also be undesired behavior (is `parent` something intrinsic to the project, or is it just computed by scanning all children?), and could possibly

[2020-11-22 01:05] tjwio opened #592 "JSON decoder not properly decoding `defaultConfigurationIsVisible` in some projects"
## Context 🕵️‍♀️
Some of our projects generated via BUCK have a plist encoding so the property looks like:
[code]
instead of something like:
[code]

This causes the JSON encoder to encode the property as a boolean instead of a string, so the JSON decoder fails to decode that boolean properly since it thinks it's a string

## What 🌱
This error is thrown when trying to decode `defaultConfigurationIs

[2020-11-25 02:34] Nikhilverma1 opened #594 "Command PhaseScriptExecution failed with a nonzero exit code"
Hi All,

I am getting Command PhaseScriptExecution failed with a nonzero exit code issue while trying to archive the application for build.
I have tried keychain lock-unlock process and other possible solutions but nothing working in my case.

I am macOS big Sur 11.0.1 version but the issue was also there before this update.

Updated xcode also to 12.2 version

Please help

**uilding file list ...

[2020-11-25 14:40] Nikhilverma1 commented on #594
This has been solved after adding certificates in my XCODE developer ID

[2020-11-25 14:40] #594 closed

[2020-11-26 14:17] pepibumur commented on #588
Hey @carsten-wenderdel would you mind sharing your use-case? I'm not sure I understand why you need to have `XcodeProj` in LLDB.

[2020-11-26 14:21] #592 closed

[2020-11-26 14:22] #561 closed

[2020-11-26 14:24] pepibumur commented on #530
Hey @mobileben. Thanks for reporting this! Unfortunately, we can prioritize fixing this but if you'd like to go ahead and fix the issue yourself you are welcome to do. I'll happily review it.

[2020-11-26 14:25] pepibumur commented on #566
@vvnasina capabilities are entitlements, and editing those is outside the scope of this library. Bear in mind that entitlements is a property list file that you can read and write [using the standard library](https://learnappmaking.com/plist-property-list-swift-how-to/)

[2020-11-26 14:25] #566 closed

[2020-11-26 15:40] carsten-wenderdel commented on #588
I once have used the Ruby project https://github.com/CocoaPods/Xcodeproj to open a project file, clone an existing target, change build steps and other things and then save the project. This was quite difficult for me, a mixture of not knowing well the `xcodeproj` file format, the object representation of that file in that Ruby library and the programming language itself. So I had to use a number

[2020-12-15 05:59] tjwio opened #596 "JSON decoder not properly decoding `proxyType` in some projects"
## Context 🕵️‍♀️
We have some Xcode projects that are generated by BUCK with `proxyType` as a number instead of a string.

## What 🌱
This means that the `decodeIntIfPresent` will throw when it tries to decode it as a string and then bool. We hit this recently in one of our Xcode projects:
[code]

## Proposal 🎉
PR here: #598

[2020-12-15 06:08] tjwio opened #597 "BuildPhaseTests not handling failure cases properly"
## Context 🕵️‍♀️
#596 for context, tip of `main`

## What 🌱
Many of the `_____BuildPhaseTests` aren't properly handling failure cases.
For example many of the tests look similar to this, which ensures that the decoder will throw
[code]
This seems to suggest that removing the key "files" causes the decoder to throw. However, this is not the case -- the testDictionary and JSONDecoder (namely `decode

[2020-12-17 06:59] #596 closed

[2020-12-17 18:44] tjwio commented on #597
Fixed in #598

[2020-12-17 18:44] #597 closed

[2021-01-08 12:23] damirdavletov opened #602 "Remove end of line comments from xcconfig build settings"
## Context 🕵️‍♀️
In our projects we use xcconfig files for project configuration and in some cases we use in-line comments like:
`PRODUCT_NAME = $(TARGET_NAME) // FIXME: ideally, should probably be $(TARGET_NAME:rfc1034identifier), but some of our existing names will change`

## What 🌱
Retrieving the above settings with the code like
`let productName = target.buildConfigurationList?.configuration(

[2021-02-18 16:10] #602 closed

[2021-05-06 18:12] rockbruno opened #611 "Can't generate module interface due to the name of the library"
Hey there! We're trying to generate a module interface for a library that depends on XcodeProj, but because this library has a type with the same name as the library (XcodeProj), [Swift screws it up](https://forums.swift.org/t/frameworkname-is-not-a-member-type-of-frameworkname-errors-inside-swiftinterface/28962/2).

It's an unfortunate limitation of the language that doing so leads to issues. Wou

[2021-05-09 22:09] daltonclaybrook commented on #509
I am running into this issue as well. When generating an Xcode project from a Swift package via `swift package generate-xcodeproj`, it appears that schemes do not contain a `BlueprintIdentifier` in their buildable references. Initialization of the `XcodeProj` succeeds, but the result is an empty array for `XcodeProj.sharedData.schemes`. Naively, it seems like the fix is to make Blueprint optional

[2021-05-12 13:56] avdyushin opened #613 "Adding group set incorrect parent in case of complex path"
After adding new group using `addGroup` method with complex path (ex. `foo/bar/baz`) to  all intermediate groups (`bar` and `baz`) have the same parent (added to group). This affect full path of intermediate groups (ex. instead of `/root/foo/bar/baz` it's `/root/baz`)

[2021-05-18 22:36] elliottwilliams commented on #590
You can reveal the issue everywhere with a runtime assertion like this:

[code]

This definitely feels like an issue, since it breaks Hashable's invariant. But I think replacing all our comparison logic with `reference` checking would be a dangerous behavior-break.

My understanding of XcodeProj is that it keeps references fairly transparent to the user. For instance, you can programmatically crea

[2021-05-27 17:15] deatondg commented on #590
It seems okay to me to hash everything except the reference like is currently done for equality, but that still makes me uncomfortable.

I still think the current equality method (which was updated to include the parent) is incorrect. It is not difficult to find a situation in which an object has identical properties except for its reference. If I recall correctly, in one of the fixtures there is

[2021-06-01 20:18] #613 closed